trigger:
  - master
pr:
  - master
pool:
  vmImage: ubuntu-16.04
steps:
  - task: DockerCompose@0
    inputs:
      action: Run a Docker Compose command
      dockerComposeCommand: run --use-aliases web pytest
