gunicorn
whitenoise[brotli]
us  # for US states on profiles
python-dotenv
sentry-sdk
sorl-thumbnail
    Pillow
geographiclib  # for maps
    geopy
airtable-python-wrapper  # for airtable import

# django
django-cleanup
django-upload-path
django-sluggable
django-autoslug
django-enumfield < 2
django-crispy-forms
django-allauth
django-authtools
django-pwned-passwords
django-recaptcha
django-webpack-loader
django-admin-rangefilter
django-admin-relation-links
django-settings-export
django-sekizai
django-environ
algoliasearch-django  # for profiles & groups search
https://control.divio.com/api/v1/apps/serve/aldryn-django/2.2.16.1/b460938a-f357-49a3-9aef-9dfb40946551/aldryn-django-2.2.16.1.tar.gz#egg=aldryn-django==2.2.16.1
django-import-export
django-referrer-policy
django-feature-policy
rules

# tests
pytest
pytest-django
pytest-selenium
pytest-black
pytest-flake8
jasmine
black
pep8-naming
flake8-isort
isort[requirements]
