gunicorn
whitenoise[brotli]
us  # for US states on profiles
python-dotenv
sentry-sdk
sorl-thumbnail
    Pillow
geographiclib  # for maps
    geopy
airtable-python-wrapper  # for airtable import, which we don't do anymore - consider dropping it
boto3

django-cleanup
django-upload-path
django-sluggable
django-autoslug
django-enumfield < 2
django-enumfields  # a better version of django-enumfield
django-crispy-forms
django-widget-tweaks  # a better version of django-crispy-forms
django-allauth
django-authtools
django-pwned-passwords
django-recaptcha
django-webpack-loader
django-admin-rangefilter
django-admin-relation-links
django-settings-export
django-sekizai
django-environ
django-extensions  # for python manage.py clear_cache on deployment
algoliasearch-django  # for profiles & groups search
https://control.divio.com/api/v1/apps/serve/aldryn-django/2.2.17.1/152a6e71-0596-4bfc-9d14-d94bb1e1a6ca/aldryn-django-2.2.17.1.tar.gz#egg=aldryn-django==2.2.17.1
django-import-export
django-referrer-policy
django-feature-policy
rules
django-flags  # for feature flags
django-modeladmin-reorder  # reorder admin panel homepage apps
django-adminutils  # a set of shortcuts for admin.py composition
djangorestframework
django-storage-url
django-solo
djangocms-helpers  # for send_email function
django-select2
django-money

# dev packages (might try to move it out for deployment speed optimization)

flake8-isort
    pep8-naming
    isort
black
jasmine
pytest
    pytest-django
    pytest-selenium
    pytest-black
    pytest-flake8
pip-tools
faker
model_bakery
