{% extends 'form.html' %}

{% block title %}Sign Up{% endblock %}

{% block form_fields %}
<div class="field">
  <label for="id_first_name">First Name</label>
  <input type="text" name="first_name" id="id_first_name" class="form-control" placeholder="Peter" required autofocus>
  {% if form.first_name.errors %}
    {% for error in form.first_name.errors %}
      <div class="alert alert-danger">{{ error }}</div>
    {% endfor %}
  {% endif %}
</div>
<div class="field">
  <label for="id_last_name">Last Name</label>
  <input type="text" name="last_name" id="id_last_name" class="form-control" placeholder="Singer" required>
  {% if form.last_name.errors %}
    {% for error in form.last_name.errors %}
      <div class="alert alert-danger">{{ error }}</div>
    {% endfor %}
  {% endif %}
</div>
<div class="field">
    <label for="id_email">Email address</label>
    <input type="email" name="email" id="id_email" class="form-control" placeholder="utilitarian_46@aol.com" required>
    {% if form.email.errors %}
      {% for error in form.email.errors %}
        <div class="alert alert-danger">{{ error }}</div>
      {% endfor %}
    {% endif %}
</div>
<div class="field">
  <label for="id_password1">Password</label>
  <input type="password" name="password1" id="id_password1" class="form-control" placeholder="password123" required>
  {% if form.password1.errors %}
    {% for error in form.password1.errors %}
      <div class="alert alert-danger">{{ error }}</div>
    {% endfor %}
  {% endif %}
</div>
<div class="field">
  <label for="id_password2">Confirm Password</label>
  <input type="password" name="password2" id="id_password2" class="form-control" placeholder="password123" required>
  {% if form.password2.errors %}
    {% for error in form.password2.errors %}
      <div class="alert alert-danger">{{ error }}</div>
    {% endfor %}
  {% endif %}
</div>
<div class="field">
  {% if form.non_field_errors %}
    {% for error in form.non_field_errors %}
        <div class="alert alert-danger">{{ error }}</div>
    {% endfor %}
  {% endif %}
</div>
<div class="field">
  <div class="g-recaptcha" data-sitekey="{{ recaptcha_site_key }}"></div>
  {% if 'captcha_error' in request.GET %}
    <div class="alert alert-danger" style="max-width: 304px;">Captcha error</div>
  {% endif %}
</div>
<button type="submit" class="btn btn-default">Sign Up</button>
{% endblock %}
