{% load static sekizai_tags %}

{% block map %}

{% addtoblock 'js' %}
  {% if settings.DJANGO_ENV.value == 'local' %}
    <script src="{{ settings.WEBPACK_DEV_URL }}/component_maps.bundle.js"></script>
  {% else %}
    <script src="{% static 'dist/component_maps.js' %}"></script>
  {% endif %}
{% endaddtoblock %}

{% if lat and lon %}
  <div id="group_page_map" class="map"></div>

  <script>var isIE = false</script><!--[if IE]><script>isIE = true;</script><![endif]-->
  <script>
    function initMap() {
      var lat = parseFloat("{{ lat|escapejs }}");
      var lon = parseFloat("{{ lon|escapejs }}");
      var active = parseFloat("{{ active|escapejs }}");
      var mapLocations = {
        profiles: [{lat: lat, lng: lon, active: active}]
      };
      var htmlElements = { map: document.getElementById('group_page_map') }
      window.initHeatmapProfile(mapLocations, htmlElements);
    }
  </script>
  {% if settings.DJANGO_ENV.value == 'local' %}
    <script defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCH_YVPm3n9YSwGKOK_NcWMto9WclW5JVs&callback=initMap"></script>
  {% else %}
    <script defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDd56szczqWtMDNuMKvODiFPsZUgScLdfY&callback=initMap"></script>
  {% endif %}
{% else %}
  <div id="group_page_map" class="map_placeholder">
    <h1><i class="fa fa-map" aria-hidden="true"></i><br>No map data</h1>
  </div>
{% endif %}
{% endblock %}
