{% load static sekizai_tags %}

{% block map %}

    {% if settings.DJANGO_ENV.value == 'local' %}
        <script id="maps-script" defer
            src="{{ settings.WEBPACK_DEV_URL }}/component_maps.bundle.js"
        ></script>
    {% else %}
        <script id="maps-script" defer src="{% static 'dist/component_maps.js' %}"></script>
    {% endif %}

    <div id="map" class="map_homepage"></div>
    <div id="map_selector">
        <label><input type="radio" name="map_selector" value="individuals"
            id="map_selector_ind"
        >Individuals</label>
        <label><input type="radio" name="map_selector" value="groups"
            id="map_selector_groups"
        >Groups</label>
    </div>
    <script defer
        src="https://cdnjs.cloudflare.com/ajax/libs/OverlappingMarkerSpiderfier/1.0.3/oms.min.js"
    ></script>

    {{ map_locations|json_script:'map-locations' }}

    <script>
        function initMap() {
            const queryStringMap = "{{ request.GET.map|escapejs }}";
            if (window.initHeatmapFull) {
                window.initHeatmapFull(queryStringMap);
            } else {
                document.getElementById('maps-script').addEventListener('load', () => {
                    window.initHeatmapFull(queryStringMap);
                })
            }
        }
    </script>
    <script defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDLtS7sdF1wauFJa1feNmGLlTAJI8VBokI&callback=initMap"
    ></script>
{% endblock %}
