{% block map %}
<div id="map" class="map_list_page"></div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/OverlappingMarkerSpiderfier/1.0.3/oms.min.js"></script>
<script src="/static/scripts/maps/markerclusterer.js"></script>
<script src="/static/scripts/maps/heatmap.js"></script>
<script>var isIE = false</script><!--[if IE]><script>isIE = true;</script><![endif]-->
{{ map_data|json_script:'map-data' }}
{{ private_profiles|json_script:'private-profiles' }}
<script>
  var map_type = "{{ map_type|escapejs }}"
  function initMap() {
    var map_data = JSON.parse(document.getElementById('map-data').textContent);
    var private_profiles = JSON.parse(document.getElementById('private-profiles').textContent);
    if (map_type == "groups") {
      renderMap(map_type, map_data);
    } else {
      renderMap(map_type, private_profiles);
    }

  }
</script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDLtS7sdF1wauFJa1feNmGLlTAJI8VBokI&callback=initMap"></script>
{% endblock %}
