{% block map %}

{% if profile %}
  <div id="profile_page_map" class="map"></div>

  <script>var isIE = false</script><!--[if IE]><script>isIE = true;</script><![endif]-->
  <script>
    function initMap() {
      var lat = parseFloat("{{ lat|escapejs }}");
      var lon = parseFloat("{{ lon|escapejs }}");
      var active = parseFloat("{{ active|escapejs }}");
      var mapLocations = {
        profiles: [{lat: lat, lng: lon, active: active}]
      };
      var htmlElements = { map: document.getElementById('profile_page_map') }
      window.initHeatmapProfile(mapLocations, htmlElements);
    }
  </script>
  <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDLtS7sdF1wauFJa1feNmGLlTAJI8VBokI&callback=initMap"></script>
{% else %}
  <div id="profile_page_map" class="map_placeholder">
    <h1><i class="fa fa-map" aria-hidden="true"></i><br>No map data</h1>
  </div>
{% endif %}
{% endblock %}
