{% extends 'base_bs5.html' %}

{% block head_title %}Confirm E-mail Address{% endblock %}

{% load i18n %}
{% load account %}

{% block navbar %}
    {% include 'components/navbar.html' %}
{% endblock navbar %}

{% block title %}Confirm E-mail Address{% endblock %}

{% block content %}
    <div class="container verification-sent">
        <h1>Confirm E-mail Address</h1>
        <p class="fs-5">
            This e-mail confirmation link expired or is invalid. Please
            <a href="{% url 'account_email' %}">issue a new e-mail confirmation request</a>.
        </p>
    </div>
{% endblock %}

{% block footer %}
    {% include 'includes/footer.html' %}
{% endblock %}
