{% extends 'base.html' %}

{% block title %}Change Password{% endblock %}

{% block content %}
<div class="container user-action">
<h1>Change Password</h1>
<form method="POST" action="{% url 'account_change_password' %}">
      {% csrf_token %}
      {% for field in form %}
      <p><b>{{field.label}}: </b>{{field}}{{field.help_text|safe}}</p>
      {% for error in field.errors %}
      <div class="alert hub-error inline-block">
          {{ error|safe }}
      </div>
      {% endfor %}
    {% endfor %}
      <input class="btn btn-default btn-xs" type="submit" value="Change Password">
</form>
</div>
{% endblock %}
