{% extends 'base_bs5.html' %}

{% load crispy_forms_field crispy_forms_tags socialaccount static %}

{% block navbar %}
  {% include 'components/navbar.html' %}
{% endblock navbar %}

{% block title %}Set a New Password{% endblock %}

{% block content %}
  <div class="container account-floating-form">
    <h1>Set a New Password</h1>
  
    <form method="POST">
      {% csrf_token %}
    
      {% if token_fail %}
        <div class="form-group mb-4">
          <p class="error">
            Unfortunately this password reset url isn't valid anymore.
            Please try to <a href="{% url "account_reset_password" %}">reset your password here</a>,
            or reach out to the support at contact@eahub.org.
          </p>
        </div>
      {% endif %}

      {% if form.errors %}
        <div class="form-group mb-4">
          {% for error in form.non_field_errors %}
            <p class="error">{{ error|escape }}</p>
          {% endfor %}
          {% for field in form %}
            {% for error in field.errors %}
              <p class="error">{{ error|escape }}</p>
            {% endfor %}
          {% endfor %}
        </div>
      {% endif %}

      <div class="form-floating">
        <input type="password"
          class="form-control form-control-lg"
          name="{{ form.password1.name }}"
          placeholder="Password"
          id="{{ form.password1.id }}"
          required
        >
        <label for="{{ form.password1.id }}">Password</label>
      </div>

      <input class="btn btn-primary btn-lg" type="submit" value="Save">
    </form>
  </div>
{% endblock %}


{% block footer %}
  {% include 'includes/footer.html' %}
{% endblock %}
