{% extends 'base_bs5.html' %}

{% load crispy_forms_field crispy_forms_tags %}

{% block navbar %}
  {% include 'components/navbar.html' %}
{% endblock navbar %}

{% block title %}Reset Password{% endblock %}

{% block content %}
  <div class="container account-floating-form">
    <h1>Check your inbox</h1>
    <p>
      We've emailed you instructions for setting your password.
    </p>
    <p>
      You should receive the email shortly!
    </p>
  </div>
{% endblock %}

{% block footer %}
  {% include 'includes/footer.html' %}
{% endblock %}
