{% extends 'form.html' %}

{% block title %}Sign Up{% endblock %}

{% load crispy_forms_tags %}

{% block form_fields %}

{{ form|crispy }}
<input type="hidden" name="{{ redirect_field_name }}" value="/profile/first_visit/" />
{% endblock %}


{% block submit%}Sign up{% endblock%}

{% block form_privacy_note %}

<br>

<div class="privacy-note">
  <p>This site is protected by reCAPTCHA and the Google
    <a href="https://policies.google.com/privacy">Privacy Policy</a> and
    <a href="https://policies.google.com/terms">Terms of Service</a> apply.</p>
  <p>Read more about our approach to privacy in our <a href="{% url 'privacy_policy' %}">Privacy Policy</a>.</p>
</div>

{% endblock %}
