{% extends 'form.html' %}

{% block title %}Sign Up{% endblock %}

{% load crispy_forms_tags %}

{% block form_fields %}

{{ form|crispy }}
<input type="hidden" name="{{ redirect_field_name }}" value="{% url 'my_profile_first_visit' %}" />
{% endblock %}

{% block submit%}Sign up{% endblock%}

<div class="field">
    <div class="g-recaptcha" data-sitekey="{{ recaptcha_site_key }}"></div>
    {% if 'captcha_error' in request.GET %}
    <div class="alert alert-danger login-danger" style="max-width: 304px;">Captcha error</div>
    {% endif %}
</div>
