{% extends 'base_bs5.html' %}

{% load crispy_forms_field crispy_forms_tags %}

{% block navbar %}
    {% include 'components/navbar.html' %}
{% endblock navbar %}

{% block title %}Verify Your E-mail Address{% endblock %}

{% block content %}
    <div class="container verification-sent">
        <h1>Please Verify Your E-mail Address</h1>
        <p class="fs-5">
            We have sent an e-mail to you for verification. 
            Follow the link provided to finalize the signup process.
        </p>
        <p class="fs-5">
            Please contact us if you do not receive it.
        </p>
    </div>
{% endblock %}


{% block footer %}
    {% include 'includes/footer.html' %}
{% endblock %}
