{% extends 'base_bs5.html' %}

{% load static sekizai_tags thumbnail %}

{% block title %}Jobs{% endblock %}

{% block navbar %}
  {% include 'components/navbar.html' %}
{% endblock navbar %}

{% block content %}

  {% addtoblock 'js' %}
    {% if settings.DJANGO_ENV.value == 'local' %}
      <script src="{{ settings.WEBPACK_DEV_URL }}/component_tables.bundle.js"></script>
    {% else %}
      <script src="{% static 'dist/component_tables.js' %}"></script>
    {% endif %}
  {% endaddtoblock %}
  
  {% addtoblock "body_classes" %}profiles-search-body{% endaddtoblock %}

  {% include 'includes/messages.html' %}

  <script>
    const DJANGO = {
      algoliaApiKey: `{{ settings.ALGOLIA.API_KEY_READ_ONLY }}`,
      algoliaApplicationId: `{{ settings.ALGOLIA.APPLICATION_ID }}`,
      algoliaIndexName: `{{ settings.ALGOLIA.INDEX_NAME_TAGS }}`,
    }
  </script>

  <div class="container profile-edit">

  <form method="post" action="{% url 'jobs:create' %}" enctype="multipart/form-data">
    {% csrf_token %}

    <div class="row">
      <div class="col-24 col-lg-21">
        <h1>Post a Job</h1>

        {% include 'includes/field.html' with form=form field=form.title %}

        <div class="row row-cols-2">
          <div class="col">
            {% include 'includes/field.html' with form=form field=form.company %}
          </div>
          <div class="col">
            {% include 'includes/field.html' with form=form field=form.company_logo %}
          </div>
        </div>

        {% include 'includes/field.html' with form=form field=form.description_teaser placeholder="In West Philadelphia born and raised. On the playground is where I spent most of my days." %}
        {% include 'includes/field.html' with form=form rows=10 field=form.description placeholder="In West Philadelphia born and raised. On the playground is where I spent most of my days." %}

        <div class="row row-cols-5">
          <div class="col">
            {% include 'includes/field.html' with form=form field=form.experience_min %}
          </div>
          <div class="col">
            {% include 'includes/field.html' with form=form field=form.experience_max %}
          </div>
          <div class="col">
            {% include 'includes/field.html' with form=form field=form.salary_min %}
          </div>
          <div class="col">
            {% include 'includes/field.html' with form=form field=form.salary_max %}
          </div>
          <div class="col">
            {% include 'includes/field.html' with form=form field=form.salary_currency %}
          </div>
        </div>

        {% include 'includes/field.html' with form=form field=form.visibility %}
        {% include 'includes/field.html' with form=form field=form.is_visa_sponsor %}
        {% include 'includes/field.html' with form=form field=form.is_remote_only %}
        {% include 'includes/field.html' with form=form field=form.expires_at %}


        <div class="mb-5"
          data-type-name="organisational_affiliation"
          data-type-label="Organisational Affiliations"
        >
          <div class="vue-profile-tag-input"></div>
        </div>

      </div>

      <div class="col-3 btn-submit__col d-none d-lg-block">
        <div class="btn-submit__container">
          <button class="btn btn-lg btn-primary btn-submit" type="submit">Save</button>
        </div>
      </div>

    </div>

    <div class="btn-submit__container" data-pos="bottom">
      <button class="btn btn-lg btn-primary btn-submit" type="submit">Save</button>
    </div>

  </form>

  <script defer src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script defer src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.12/js/select2.min.js"></script>
  <script defer src="{% static 'django_select2/django_select2.js' %}"></script>
  {{ form.media.css }}

{% endblock %}

{% block footer %}
  {% include 'includes/footer.html' %}
{% endblock %}
