{% extends 'base.html' %}

{% block header %}
<style>
  h2{
    margin-top: 5px;
    margin-bottom: 20px;
  }
  .panel{
    max-width: 400px;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;
  }
  form input{
      max-width: 400px;
  }
  form .well{
      max-width: 400px;
      padding: 10px;
  }
  form .field{
    margin-bottom: 20px;
  }
  form .alert{
    margin-top: 5px;
    margin-bottom: 0;
    max-width: 400px;
  }
  .required_field:after {
    content:" *";
    color:red;
  }
</style>
<script src='https://www.google.com/recaptcha/api.js'></script>
{% endblock %}

{% block content %}
<div class="panel panel-default">
    <div class="panel-body">
        <form method="post" {% if form.is_multipart %}enctype="multipart/form-data"{% endif %}>
          {% csrf_token %}
          <h2>{% block title %}{% endblock %}</h2>
          {% block form_fields %}{% endblock %}
        </form>
    </div>
</div>
{% block content_after_form %}{% endblock %}

{% endblock %}
