{% load static sekizai_tags %}

<nav class="navbar fixed-top bg-secondary navbar-dark navbar-expand-lg">
    <div class="container">
        <a href="/" class="navbar-brand">
            <img class="logo" id="logo" src="{% static 'global/images/logo.svg' %}" alt="logo"/>
            <span class="navbar__site-name">EA Hub</span>
        </a>

        {% block navabr_additional %}{% endblock %}

        <button class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbar-collapse-content"
            aria-controls="navbar-collapse-content"
            aria-expanded="false"
            aria-label="Toggle navigation"
        >
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="navbar-collapse collapse" id="navbar-collapse-content">
            <ul class="navbar-nav ml-auto">
                {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'profiles_app:my_profile' %}">
                            <span class="fa-icon"><i class="fa fa-user"></i></span> My Profile
                        </a>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link nav__login"
                            href="{% url 'account_login' %}">
                            <span class="fa-icon"><i class="fa fa-sign-in-alt"></i></span> Log In
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'account_signup' %}">
                            <span class="fa-icon"><i class="fa fa-user-plus"></i></span> Sign Up
                        </a>
                    </li>
                {% endif %}

                <li class="nav-item">
                    <a class="nav-link" href="{% url 'profiles' %}">
                        <span class="fa-icon"><i class="fa fa-users"></i></span>
                        Profiles
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'groups' %}">
                        <span class="fa-icon"><i class="fa fa-globe"></i></span>
                        Groups
                    </a>
                </li>

            
                <li class="nav-item d-flex d-lg-none">
                    <a class="nav-link"
                        href="https://resources.eagroups.org"
                        rel="nofollow"
                        target="_blank"
                    >
                        <i class="fa fa-book"></i> EA Groups Resource Centre
                        <i class="fas fa-external-link-alt"></i>
                    </a>
                </li>
                <li class="nav-item d-flex d-lg-none">
                    <a class="nav-link" href="{% url 'about' %}">
                        <i class="fa fa-info"></i> About
                    </a>
                </li>
                <li class="nav-item d-flex d-lg-none">
                    <a class="nav-link"
                        href="https://feedback.eahub.org"
                    >
                        <i class="fa fa-comment"></i> Feedback
                    </a>
                </li>
                <li class="nav-item d-flex d-lg-none">
                    <a class="nav-link"
                        href="https://donationswap.eahub.org"
                        rel="nofollow"
                        target="_blank"
                    >
                        <i class="fa fa-exchange-alt"></i> EA Donation Swap
                        <i class="fas fa-external-link-alt"></i>
                    </a>
                </li>
                <li class="nav-item d-flex d-lg-none">
                    <a class="nav-link"
                        href="https://www.eawork.club/"
                        rel="nofollow"
                        target="_blank"
                    >
                        <i class="fas fa-briefcase"></i> Opportunities Board
                        <i class="fas fa-external-link-alt"></i>
                    </a>
                </li>
                {% if user.is_authenticated %}
                    <li class="nav-item d-flex d-lg-none">
                        <a class="nav-link"
                            href="{% url 'account_logout' %}"
                        >
                            <i class="fa fa-sign-out-alt" id="logout"></i>

                            Log out
                        </a>
                    </li>
                {% endif %}
            
                <li class="nav-item dropdown">
                    <button class="navbar-toggler nav-link d-none d-lg-flex"
                        type="button"
                        data-bs-toggle="dropdown"
                        aria-expanded="false"
                        aria-haspopup="true"
                        role="button"
                        id="navbar-collapse-lg-content"
                    >
                        <span class="navbar-toggler-icon"></span>
                    </button>

                    <div class="dropdown-menu"
                        aria-labelledby="navbar-collapse-lg-content"
                    >
                        <a class="dropdown-item"
                            href="https://resources.eagroups.org"
                            rel="nofollow"
                            target="_blank"
                        >
                            <i class="fa fa-book"></i> EA Groups Resource Centre
                            <i class="fas fa-external-link-alt"></i>
                        </a>
                        <a class="dropdown-item"
                            href="https://donationswap.eahub.org"
                            rel="nofollow"
                            target="_blank"
                        >
                            <i class="fa fa-exchange-alt"></i> EA Donation Swap
                            <i class="fas fa-external-link-alt"></i>
                        </a>
                        <a class="dropdown-item"
                            href="https://www.eawork.club/"
                            rel="nofollow"
                            target="_blank"
                        >
                            <i class="fas fa-briefcase"></i> Opportunities Board
                            <i class="fas fa-external-link-alt"></i>
                        </a>
                        <a class="dropdown-item" href="{% url 'about' %}">
                            <i class="fa fa-info"></i> About
                        </a>
                        <a class="dropdown-item"
                            href="https://feedback.eahub.org">
                            <i class="fa fa-comment"></i> Feedback
                        </a>
                        {% if user.is_authenticated %}
                            <a class="dropdown-item"
                                href="{% url 'account_logout' %}?next={% firstof request.path '/' %}">
                                <i class="fa fa-sign-out-alt" id="logout"></i>
                                Log out
                            </a>
                        {% endif %}
                    </div>
                </li>
            </ul>
        </div>

    </div>
</nav>
