{% block map %}
<style>
    #map {
        height: 400px;
        border-radius: 5px;
    }
</style>

<div id="map"></div>
<div id="map_selector">
  <input type="radio" name="map_selector" value="individuals" id="map_selector_ind"> Individuals</input>
  <input type="radio" name="map_selector" value="groups" id="map_selector_groups"> Groups</input>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/OverlappingMarkerSpiderfier/1.0.3/oms.min.js"></script>
<script src="/static/js/markerclusterer.js"></script>
<script src="/static/js/map.js"></script>
<script>var isIE = false</script><!--[if IE]><script>isIE = true;</script><![endif]-->
<script>
  function initMap() {
    var map_data_profiles = [{{ map_data_profiles | safe}}];
    var map_data_groups = [{{ map_data_groups | safe}}];
    var page_name = "{{ page_name }}";
    map(page_name,map_data_profiles,map_data_groups)
  }
</script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDLtS7sdF1wauFJa1feNmGLlTAJI8VBokI&callback=initMap"></script>
{% endblock %}
