{% extends 'base.html' %}

{% block content %}
<div class="container about">
<h1>About</h1>
<p>The Effective Altruism Hub is here to make it easier for Effective Altruists to get together and do the most good using evidence and reason. Our vision is to provide visibility for EA groups, individuals and organisations, and to provide new ways for Effective Altruists to network. We also wish to combat fragmentation, bottlenecks and inefficiencies within the EA community by building a platform customised to the practical needs of effective altruists and EA organisations. Planned features, such as a custom built cross platform search, will boost the visibility of existing websites and resources from around the EA community, leading to less duplication and increased utility. </p>
<p>The Hub also acts as a valuable source of metadata about the EA movement, which overlaps and strengthens the work of the EA survey. Our decision to redesign the EA Hub is based on our belief that the original Hub had untapped potential which was held back by limitations of design. Our reboot aims to retain features of the original Hub that were most valued by users, but to also make these original features function in a more user friendly and optimised way.</p>
<p>Originally founded in 2014, it's a project by the <a target="_blank" href="https://rtcharity.org/lean/">Local Effective Altruism Network (LEAN)</a> and <a target="_blank" href="https://rtcharity.org/">Rethink Charity</a>, proudly delivered by our team of staff and volunteers:</p>
<ul>
<li> Taymon Beal: Software Engineer and Advisor</li>
<li> Sebastian Becker: Front-End Developer</li>
<li> Alexander Herwix: Advisor</li>
<li> Richenda Herzig: Product Lead and Illustrator</li>
<li> Marcin Kowrygo: Content Strategist</li>
<li> Manoj Nathwani: Lead Developer</li>
<li> Michal Trzesimiech: Project Manager</li>
<li> Nadia Williams: Illustrator</li>
</ul>

<p>Please check this page periodically to keep an eye on our progress as we're planning on adding new features each month.</p>

<p>Message <a href="mailto:lean@eahub.org">LEAN</a> to join our team or donate to Local Effective Altruism Network and help us deliver more value.

<p>Last but not least, this website is about you and for you – its user. We are grateful for your honest feedback!</p>
<div class="col-xs-12 col-md-6">
  <button class="tech-btn">
    <a href="mailto:tech@rtcharity.org">Tech Support</a>
  </button>
</div>
<div class="col-xs-12 col-md-6">
  <button class="suggestions-btn">
    <a href="mailto:lean@eahub.org">Suggestions or Requests</a>
  </button>
</div>

</div>
{% endblock %}
