{% extends 'base.html' %}

{% block content %}
<div class="container about">
<h1>About</h1>
<div class="col-xs-12 col-md-6">
  <button class="tech-btn">
    <a href="mailto:tech@rtcharity.org">Tech Support</a>
  </button>
</div>
<div class="col-xs-12 col-md-6">
  <button class="suggestions-btn">
    <a href="mailto:lean@eahub.org">Suggestions or Requests</a>
  </button>
</div>
<p>This feature is the first of several to come as part of the new EA Hub, the relaunch of which we will announce by the end of 2018.</p>
<p> The EA Hub is a platform designed to inspire and facilitate collaboration between Effective Altruists. Whether you want to launch a project, run a group, network with other EAs or explore EA Survey data, the Hub is your port of call. </p>
<p> The Hub was founded by Tom Ash in 2014, and managed by .impact. The rebooted Hub will continue to be maintained by <a href="https://rtcharity.org/lean/" target="_blank">LEAN</a>, a project of <a href="http://www.rtcharity.org" target="_blank">Rethink Charity</a>.</p>
<p>The new Hub is being developed by a heroic team of Rethink Charity staff and volunteers:</p>
<ul>
<li> Taymon Beal: Software Engineer and Technical Advisor</li>
<li> Manoj Nathwani: Lead Developer</li>
<li> Alexander Herwix: Software Engineer and Strategic Advisor</li>
<li> Marcin Kowrygo: Content Strategist</li>
<li> Sebastian Becker: Front-End Developer</li>
<li> Michal Trzesimiech: Project Manager</li>
<li> Richenda Herzig: Product Lead and Illustrator</li>
<li> Nadia Williams: Illustrator</li>
</ul>

<h3>Getting Involved</h3>

<p>If you are keen to see the Hub grow faster, we have capacity for several volunteers to assist with content strategy and editing. Diversity of influence in this area is very valuable to ensure that the Hub reflects the needs of the whole community. We have limited capacity for including another front-end and/or back-end developer. Sign up <a href="https://docs.google.com/forms/d/e/1FAIpQLSdO3F4GZI_MQketXYAxBdp3WGjxS4bpEczj82x9AnuGxlX1DQ/viewform" target="_blank">here</a>.

<h3>Room for Funding</h3>

<p>Paid staff working on the Hub are part time and temporary. We would love to fund an ongoing full time position. If you are looking for an impactful giving opportunity, our hat is in the ring!</p>

<h3>Planned Features</h3>

<p>Please check this page periodically to keep an eye on our progress. You can also speak to us in the #p-eahub channel in Rethink Charity's Slack (<a href="https://join.slack.com/t/eagroups/shared_invite/enQtMzA2NDQ1NzMxOTA3LThjOGNkZTU3NTc0OTc4NmY5YjFmNjRiZmI2ZGZiNTgyYzc1NjY2N2QwYzFmNmEzNjI3NTRkNDI0ZjcyNGM3Y2I" target="_blank">here</a>).</p>
</div>
{% endblock %}
