<head>
  <link rel="stylesheet" type="text/css" href="/static/styles/banner.css">
</head>
  <div class="header clearfix">
    <div class="drop_down">
      <div class="row">
        <h3 class="text-muted logo_container"><a href="\"><img id="logo" src="/static/imgs/logo_transparent.png" %}" /></a>{% if page_name %} / {{ page_name }}{% endif %}</h3>
        <label class="menu_burger" id="menu_burger">
          <div class="menu_bar"></div>
          <div class="menu_bar"></div>
          <div class="menu_bar"></div>
        </label>
      </div>
      <div class="row">
        <ul class="nav pull-right drop_down_links" id="drop_down_links">
          {% if user.is_authenticated %}
            <li><a class="drop_down_link" href="{% url 'my_profile' %}"><i class="fa fa-user"></i> My Profile</a></li>
            <li><a class="drop_down_link" href="{% url 'logout' %}"><i class="fa fa-sign-out"></i> Log Out</a></li>
          {% else %}
            <li><a class="drop_down_link" href="{% url 'login' %}"><i class="fa fa-sign-in"></i> Log In</a></li>
            <li><a class="drop_down_link" href="{% url 'signup' %}"><i class="fa fa-user-plus"></i> Sign Up</a></li>
          {% endif %}
          {% if request.user.is_superuser %}
          <li><a class="drop_down_link" href="/admin"><i class="fa fa-pencil"></i> Staff Portal</a></li>
          {% endif %}
          <li><a class="drop_down_link" href="{% url 'profiles' %}">Profiles</a></li>
          <li><a class="drop_down_link" href="{% url 'groups' %}">Groups</a></li>
          <li><a class="drop_down_link" href="https://resources.eahub.org/">EA Resources</a></li>
          <li><a class="drop_down_link" href="https://donationswap.eahub.org/">EA Donation Swap</a></li>
        </ul>
      </div>
    </div>
    <h1 class="caption">Join the over 1700+ EAs from around the world</h1>
  </div>
  <script src="/static/js/banner.js"></script>
