<head>
  <link rel="stylesheet" type="text/css" href="/static/styles/banner.css">
</head>
  <div class="header clearfix">
    <nav>
      <ul class="nav nav-pills pull-right">
        {% if user.is_authenticated %}
          <li><a href="{% url 'my_profile' %}"><i class="fa fa-user"></i> My Profile</a></li>
          <li><a href="{% url 'logout' %}"><i class="fa fa-sign-out"></i> Log Out</a></li>
        {% else %}
          <li><a href="{% url 'login' %}"><i class="fa fa-sign-in"></i> Log In</a></li>
          <li><a href="{% url 'signup' %}"><i class="fa fa-user-plus"></i> Sign Up</a></li>
        {% endif %}
        {% if request.user.is_superuser %}
        <li><a href="/admin"><i class="fa fa-pencil"></i> Staff Portal</a></li>
        {% endif %}
      </ul>
    </nav>
    <h3 class="text-muted"><a href="\"><img id="logo" src="/static/imgs/logo_transparent.png" %}" /></a>{% if page_name %} / {{ page_name }}{% endif %}</h3>
    <h1 class="caption">Join the over 1700+ EAs from around the world</h1>
  </div>
