{% extends 'form.html' %}

{% block title %}Create Group{% endblock %}

{% block form_fields %}
<div class="field">
    <label for="id_name" class="required_field">Name</label>
    <input type="text" name="name" id="id_name" class="form-control" placeholder="EA London" required autofocus value="{{ form.name.value|default_if_none:'' }}">
    {% if form.name.errors %}
        {% for error in form.name.errors %}
        <div class="alert alert-danger">{{ error }}</div>
        {% endfor %}
    {% endif %}
</div>

<div class="field">
    <label for="id_summary" class="required_field">Summary</label>
    <textarea name="summary" id="id_summary" class="form-control" placeholder="A little intro on your group's values" required>{{ form.summary.value|default_if_none:'' }}</textarea>
    {% if form.summary.errors %}
        {% for error in form.summary.errors %}
        <div class="alert alert-danger">{{ error }}</div>
        {% endfor %}
    {% endif %}
</div>

<div class="field">
    <label for="id_website">Website</label>
    <input type="text" name="website" id="id_website" class="form-control" placeholder="lesswrong.com" value="{{ form.website.value|default_if_none:'' }}">
    {% if form.website.errors %}
        {% for error in form.website.errors %}
        <div class="alert alert-danger">{{ error }}</div>
        {% endfor %}
    {% endif %}
</div>

<hr>

<div class="field">
    <label for="id_city_or_town" class="required_field">City/Town</label>
    <input type="text" name="city_or_town" id="id_city_or_town" class="form-control" placeholder="London" required value="{{ form.city_or_town.value|default_if_none:'' }}">
    {% if form.city_or_town.errors %}
        {% for error in form.city_or_town.errors %}
        <div class="alert alert-danger">{{ error }}</div>
        {% endfor %}
    {% endif %}
</div>

<div class="field">
    <label for="id_country" class="required_field">Country</label>
    <input type="text" name="country" id="id_country" class="form-control" placeholder="United Kingdom" required value="{{ form.country.value|default_if_none:'' }}">
    {% if form.country.errors %}
        {% for error in form.country.errors %}
        <div class="alert alert-danger">{{ error }}</div>
        {% endfor %}
    {% endif %}
</div>

<hr>

<div class="field">
    <label for="id_facebook_group">Facebook Group</label>
    <input type="url" name="facebook_group" id="id_facebook_group" class="form-control" placeholder="" value="{{ form.facebook_group.value|default_if_none:'' }}">
    {% if form.facebook_group.errors %}
        {% for error in form.facebook_group.errors %}
        <div class="alert alert-danger">{{ error }}</div>
        {% endfor %}
    {% endif %}
</div>

<div class="field">
    <label for="id_facebook_page">Facebook Page</label>
    <input type="url" name="facebook_page" id="id_facebook_page" class="form-control" placeholder="" value="{{ form.facebook_page.value|default_if_none:'' }}">
    {% if form.facebook_page.errors %}
        {% for error in form.facebook_page.errors %}
        <div class="alert alert-danger">{{ error }}</div>
        {% endfor %}
    {% endif %}
</div>

<hr>

<div class="field">
    <label for="id_official_email">Email Address</label>
    <input type="email" name="official_email" id="id_official_email" class="form-control" placeholder="" value="{{ form.official_email.value|default_if_none:'' }}">
    {% if form.official_email.errors %}
        {% for error in form.official_email.errors %}
        <div class="alert alert-danger">{{ error }}</div>
        {% endfor %}
    {% endif %}
</div>

<hr>

<div class="field">
    <label for="id_meetup_details">Meetup Details</label>
    <textarea name="meetup_details" id="id_meetup_details" class="form-control" placeholder="A little intro to your values">{{ form.meetup_details.value|default_if_none:'' }}</textarea>
    {% if form.meetup_details.errors %}
        {% for error in form.meetup_details.errors %}
        <div class="alert alert-danger">{{ error }}</div>
        {% endfor %}
    {% endif %}
</div>

<div class="field">
    <label for="id_meetup_url">Meetup Link</label>
    <input type="url" name="meetup_url" id="id_meetup_url" class="form-control" placeholder="https://meetup.com/ea_london" value="{{ form.meetup_url.value|default_if_none:'' }}">
    {% if form.meetup_url.errors %}
        {% for error in form.meetup_url.errors %}
        <div class="alert alert-danger">{{ error }}</div>
        {% endfor %}
    {% endif %}
</div>

<!--
<div class="field">
    <label for="id_donations">Donations</label>
    <textarea name="donations" id="id_donations" class="form-control" placeholder="A little intro on your group's values">{{ form.donations.value|default_if_none:'' }}</textarea>
    {% if form.donations.errors %}
        {% for error in form.donations.errors %}
        <div class="alert alert-danger">{{ error }}</div>
        {% endfor %}
    {% endif %}
</div>
-->

<div class="field">
    <label for="id_lat">Map Location Latitude</label>
    <input type="number" name="lat" id="id_lat" class="form-control" placeholder="51.509865" value="{{ form.lat.value|default_if_none:'' }}">
    {% if form.lat.errors %}
        {% for error in form.lat.errors %}
        <div class="alert alert-danger">{{ error }}</div>
        {% endfor %}
    {% endif %}
</div>

<div class="field">
    <label for="id_lon">Map Location Longitude</label>
    <input type="number" name="lon" id="id_lon" class="form-control" placeholder="51.509865" value="{{ form.lon.value|default_if_none:'' }}">
    {% if form.lon.errors %}
        {% for error in form.lon.errors %}
        <div class="alert alert-danger">{{ error }}</div>
        {% endfor %}
    {% endif %}
</div>

{% endblock %}

{% block submit_button_text %}Save{% endblock %}