{% extends 'form.html' %}

{% block title %}Cause Areas{% endblock %}

{% block form_fields %}

<div class="field">
    <label>Cause areas:</label>
    <select class="form-control multiselect-form" id="multiselect-form" name="custom_cause_areas" multiple>
        {% for choice in profile.CAUSE_AREA_CHOICES %}
            <option value="{{ choice.0 }}" {% if choice.0 in profile.cause_areas %}selected{% endif %}>{{ choice.1 }}</option>
        {% endfor %}
    </select>
</div>

{% if form.cause_areas_other.value %}
<div class="field" id="field_cause_areas_other" style="display: block">
{% else %}
<div class="field" id="field_cause_areas_other" style="display: none">
{% endif %}
  <label for="id_cause_areas_other">Other cause areas:</label>
  <textarea type="text" name="cause_areas_other" id="id_cause_areas_other" class="form-control" rows="4" placeholder="Global Warming, Education" maxlength="1000">{{ form.cause_areas_other.value|default:'' }}</textarea>
  {% if form.cause_areas_other.errors %}
    {% for error in form.cause_areas_other.errors %}
      <div class="alert alert-danger">{{ error }}</div>
    {% endfor %}
  {% endif %}
</div>

<div class="field" id="field_pledge">
  <label>Have you taken a giving pledge?</label>
  <select class="form-control" name="giving_pledge" id="pledge-form">
      {% for choice in profile.GIVING_PLEDGE_CHOICES %}
          <option value="{{ choice.0 }}" {% if choice.0 in profile.giving_pledge %}selected{% endif %}>{{ choice.1 }}</option>
      {% endfor %}
  </select>
</div>

{% if form.giving_pledge_other.value %}
<div class="field" id="field_pledge_other" style="display: block">
{% else %}
<div class="field" id="field_pledge_other" style="display: none">
{% endif %}
  <label for="id_giving_pledge_other">Other pledges taken:</label>
  <textarea type="text" name="giving_pledge_other" id="id_giving_pledge_other" class="form-control" rows="4" placeholder="Pledge name">{{ form.giving_pledge_other.value|default:'' }}</textarea>
  {% if form.giving_pledge_other.errors %}
    {% for error in form.giving_pledge_other.errors %}
      <div class="alert alert-danger">{{ error }}</div>
    {% endfor %}
  {% endif %}
</div>

<div class="field">
  <label for="id_available_to_volunteer">Available to volunteer:</label>
  <select class="form-control" name="available_to_volunteer">
    <option value="" {% if profile.available_to_volunteer == None %}selected{% endif %}>N/A</option>
    <option value="True" {% if profile.available_to_volunteer == 1 %}selected{% endif %}>Yes</option>
    <option value="False" {% if profile.available_to_volunteer == 0 %}selected{% endif %}>No</option>
  </select>
</div>
<button type="submit" class="btn btn-default">Update</button>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="/static/scripts/forms/helpers.js"></script>
<script src="/static/scripts/forms/form_cause_areas.js"></script>
{% endblock %}
