{% extends 'form.html' %}

{% block title %}Edit Profile{% endblock %}

{% block form_fields %}
<div class="field">
    <label for="id_first_name">First Name</label>
    <input type="text" name="first_name" id="id_first_name" class="form-control" placeholder="Peter" value="{{ form.first_name.value }}" required autofocus>
    {% if form.first_name.errors %}
        {% for error in form.first_name.errors %}
        <div class="alert alert-danger">{{ error }}</div>
        {% endfor %}
    {% endif %}
</div>

<div class="field">
    <label for="id_last_name">Last Name</label>
    <input type="text" name="last_name" id="id_last_name" class="form-control" placeholder="Singer" value="{{ form.last_name.value }}" required>
    {% if form.last_name.errors %}
        {% for error in form.last_name.errors %}
        <div class="alert alert-danger">{{ error }}</div>
        {% endfor %}
    {% endif %}
</div>

<div class="field">
    <label for="id_email">Email address</label>
    <input type="email" name="email" id="id_email" class="form-control" placeholder="utilitarian_46@aol.com" value="{{ form.email.value }}" required>
    {% if form.email.errors %}
      {% for error in form.email.errors %}
        <div class="alert alert-danger">{{ error }}</div>
      {% endfor %}
    {% endif %}
</div>

<div class="field">
    <label for="id_city_or_town">City/town</label>
    <input type="city_or_town" name="city_or_town" id="id_city_or_town" class="form-control" value="{{ form.city_or_town.value|default_if_none:'' }}" placeholder="London">
    {% if form.city_or_town.errors %}
      {% for error in form.city_or_town.errors %}
        <div class="alert alert-danger">{{ error }}</div>
      {% endfor %}
    {% endif %}
</div>

<div class="field">
    <label for="id_country">Country</label>
    <input type="country" name="country" id="id_country" class="form-control" value="{{ form.country.value|default_if_none:'' }}" placeholder="United Kingdom">
    {% if form.country.errors %}
      {% for error in form.country.errors %}
        <div class="alert alert-danger">{{ error }}</div>
      {% endfor %}
    {% endif %}
</div>

<div class="field">
    <label>Password</label>
    <p class="well">Reset using the <a href="{% url 'password_reset' %}">reset password form</a></p>
</div>
{% endblock %}

{% block submit_button_text %}Update{% endblock %}