{% extends 'form.html' %}

{% block title %}Community{% endblock %}

{% block form_fields %}

<div class="field">
  <label for="id_available_as_speaker">Available as speaker:</label>
  <select class="form-control" name="available_as_speaker">
    <option value="" {% if profile.available_as_speaker == None %}selected{% endif %}>N/A</option>
    <option value="True" {% if profile.available_as_speaker == True %}selected{% endif %}>Yes</option>
    <option value="False" {% if profile.available_as_speaker == False %}selected{% endif %}>No</option>
  </select>
</div>

<div class="field">
  <label for="id_topics_i_speak_about">Topics i speak about:</label>
  <textarea type="text" name="topics_i_speak_about" id="id_topics_i_speak_about" class="form-control" rows="4" placeholder="Global Warming, Education">{{ form.topics_i_speak_about.value|default:'' }}</textarea>
  {% if form.topics_i_speak_about.errors %}
    {% for error in form.topics_i_speak_about.errors %}
      <div class="alert alert-danger">{{ error }}</div>
    {% endfor %}
  {% endif %}
</div>
<button type="submit" class="btn btn-default">Update</button>
{% endblock %}
