{% extends 'base.html' %}

{% block content %}

<br><br>

<div class="container animated bounceIn">
  <div class="row">
    <div class="col-xs-offset-2 col-xs-2">
      <img class="profile_picture" src="{% firstof group.pic '/static/images/group_avatar.png' %}">
    </div>
    <div class="col-xs-6">
      <h1>{{ group.name }}</h1>
      <div class="btn btn-default purple">
        {% if user in group.organisers.all %}
          <a href="{% url 'edit_group' group_id=group.id  %}"><i class="fa fa-pencil"></i> Edit</a>
        {% else %}
          {% if group.official_email %}
            <a href="mailto:{{ group.official_email }}"><i class="fa fa-envelope"></i> Message</a>
          {% elif group.facebook_group %}
            <a href="{{ group.facebook_group }}" target="_blank"><i class="fa fa-envelope"></i> Message</a>
          {% elif group.facebook_page %}
            <a href="{{ group.facebook_page }}" target="_blank"><i class="fa fa-envelope"></i> Message</a>
          {% else %}
            <a href="#"><i class="fa fa-microphone-slash"></i> Messaging Disabled</a>
          {% endif %}
        {% endif %}
      </div>
    </div>
  </div>
</div>

<br><br>

<div class="container profile" id="">
  <div class="row">
    <div class="col-md-6 key-facts">
    <div class="background">
      <ul class="list-group">
        <li class="list-group-item purple"><h4>Key Facts</h4></li>

        <li class="list-group-item"><b>Organisers:</b>
          {% if group.organiser == None %} N/A
          {% else %} {{ group.organisers.all|join:", " }}
          {% endif %}
        </li>
        <li class="list-group-item"><b>City/Town:</b> {{ group.city_or_town|default_if_none:'N/A' }}</li>
        <li class="list-group-item"><b>Country:</b> {{ group.country|default_if_none:'N/A' }}</li>
        <li class="list-group-item"><b>Website:</b> {{ group.website|default:'N/A' }}</li>
        <li class="list-group-item"><b>Facebook Group:</b> {{ group.facebook_group|default:'N/A' }}</li>
        <li class="list-group-item"><b>Facebook Page:</b> {{ group.facebook_page|default:'N/A' }}</li>
        <li class="list-group-item"><b>Official Email:</b> {{ group.official_email|default_if_none:'N/A' }}</li>
        <li class="list-group-item"><b>Meetup Details:</b> {{ group.meetup_details|default_if_none:'N/A' }}</li>
        <li class="list-group-item"><b>Meetup URL:</b> {{ group.meetup_url|default_if_none:'N/A' }}</li>
      </ul>
    </div>
    </div>
    <div class="col-md-6">
      {% include 'eahub/maps/profile_page_map.html' with lat=group.lat|default_if_none:0 lon=group.lon|default_if_none:0 %}
    </div>
  </div>
</div>

<br>

<div class="container profile-info">
  <ul class="list-group">
    <li class="list-group-item light-grey"><h4>Summary</h4></li>
    <li class="list-group-item">{{ group.summary|default_if_none:'N/A' }}</li>
  </ul>
  <br>
  <ul class="list-group" id="list-links">
    <li class="list-group-item light-grey"><h4>Links</h4></li>
    {% if group.links == None %}
    <li class="list-group-item">N/A</li>
    {% else %}
    <script>
      var links = {{ group.links | safe }}
      links = links.links
      var list_links = document.getElementById('list-links')
      links.forEach(function(obj) {
        list_links.innerHTML += '<li class="list-group-item"><a href="' + obj.links + '">'+ obj.label +'</a></li>'
      })
    </script>
    {% endif %}
  </ul>
  <br>
  <ul class="list-group">
    <li class="list-group-item light-grey"><h4>Images</h4></li>
    <li class="list-group-item">{{ group.images|default_if_none:'N/A' }}</li>
  </ul>
</div>

{% endblock %}
