{% extends 'base.html' %}

{% block content %}

{% include 'eahub/components/heatmap.html' %}
<br>

<table class="table enable-datatable table-striped table-bordered">
    <thead>
        <tr>
            <th>Name</th>
            <th>Location</th>
            <th>Community</th>
        </tr>
    </thead>
    <tbody>
        {% for group in groups %}
        <tr>
            <td>
                <a href="{% url 'group' group.id %}">{{ group.name|default_if_none:'' }}</a>
            </td>
            <td>
                {% if group.country %}{{ group.country }}{% endif %}
                {% if group.country and group.city_or_town %}/{% endif %}
                {% if group.city_or_town %}{{ group.city_or_town }}{% endif %}
            </td>
            <td>
                {% if group.facebook_page %}
                    <a href="{{ group.facebook_page }}" target="_blank"><button class="btn btn-default btn-sm"><i class="fa fa-facebook"></i> Page</button></a>
                {% endif %}
                {% if group.facebook_group %}
                    <a href="{{ group.facebook_group }}" target="_blank"><button class="btn btn-default btn-sm"><i class="fa fa-facebook"></i> Community</button></a>
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
