{% extends 'base.html' %}

{% block content %}
<div class="jumbotron">
    <h1>Welcome back</h1>
    <h2>{{ user.first_name }} {{ user.last_name }}!</h2>
</div>

<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Data we have saved on you</h3>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th>user_id</th>
                <th>first_name</th>
                <th>last_name</th>
                <th>email</th>
                <th>lat/lon</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{ user.id }}</td>
                <td>{{ user.first_name }}</td>
                <td>{{ user.last_name }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.lat }}, {{ user.lon }}</td>
            </tr>
        </tbody>
    </table>
</div>

{% endblock %}