{% extends 'base.html' %}

{% block header %}
<link rel="stylesheet" href="/static/styles/profile.css" />
{% endblock %}

{% block content %}
<div class="container-narrow content-min-height">
    <div class="row">
      <div class="profile_pic_container">
          <img src="/static/imgs/profile_sub.png" class="profile_pic"/>
      </div>
      <div class="profile_heading">
        <h1 class="profile_name">{{ profile.full_name }}</h1>
        <div class="profile_contact">Connect</div>
      </div>
    </div>
</div>


<div class="well">
    More info coming soon...
</div>


{% endblock %}
