{% extends 'base.html' %}

{% block content %}

{% include 'eahub/components/heatmap.html' %}
<br>

<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>City/Town</th>
            <th>Country</th>
        </tr>
    </thead>
    <tbody>
        {% for profile in profiles %}
        <tr>
            <td><a href="/profiles/{{ profile.id }}/">{{ profile.first_name }} {{ profile.last_name }}</a></td>
            <td class="text-muted">Coming soon...</td>
            <td class="text-muted">Coming soon...</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}