{% extends 'base.html' %}

{% block content %}

<br><br>

<div class="container">
  <div class="row">
    <div class="col-sm-4 link_box">
        <div class="list-group">
          <a href="{% url 'signup' %}" class="list-group-item"><i class="fa fa-plus"></i>Start a Profile</a>
        </div>
        <div class="list-group">
          <a href="https://resources.eahub.org" class="list-group-item"><i class="fa fa-book"></i>EA Resources</a>
        </div>
        <div class="list-group">
          <a href="mailto:lean@eahub.org" class="list-group-item"><i class="fa fa-envelope"></i>Contact LEAN</a>
        </div>
    </div>
    <div class="col-sm-8">
        <a href="/?map=groups#map">
          {% include 'eahub/maps/list_page_map.html' with map_data=map_data_profiles %}
        </a>
    </div>
  </div>
</div>

<br><br>

<div class="container">
  <table id="datatable-profiles" class="table enable-datatable table-striped table-bordered dataTable">
    <thead>
      <tr>
        <th></th>
        <th>Name</th>
        <th>City/Town</th>
        <th>Country</th>
      </tr>
    </thead>
  <tbody>
    {% for profile in profiles %}
      <tr>
        {% if profile.img %}
          <td><img src="{{ profile.img }}" class="profile-pic" /></td>
        {% else %}
          <td><img src="/static/images/profile_Avatar10.png" class="profile-pic" /></td>
        {% endif %}
        <td><a href="{% url 'profile' profile.id %}">{{ profile.first_name }} {{ profile.last_name|default:'' }}</a></td>
        <td class="text-muted">{{ profile.city_or_town|default:'' }}</td>
        <td class="text-muted">{{ profile.country|default:'' }}</td>
      </tr>
    {% endfor %}
  </tbody>
  </table>
</div>

{% endblock %}
