{% extends 'base.html' %}

{% load thumbnail %}

{% block content %}

<br><br>

<div class="container animated">
  <div class="row profile-head">
    <div class="col-xs-12 col-md-3">
      {% thumbnail profile.image "200x200" crop="center" as im %}
        <img class="profile_picture" src="{{ im.url }}">
      {% empty %}
        <img class="profile_picture" src="/static/images/profile_Avatar10.png">
      {% endthumbnail %}
    </div>
    <div class="col-xs-12 col-md-6">
      <h1>{{ profile.full_name|title }}</h1>
      {% if user.id != profile.id %}
      <div class="btn btn-default purple">
        <span><i class="fa fa-microphone-slash"></i> Messaging Available Soon</span>
      </div>
      {% endif %}
    </div>
  </div>
</div>

<br><br>
<div class="container profile-info">
  <div class="row">
    <div class="col-md-6 key-facts">
      <div class="background">
      <ul class="list-group">
        <li class="list-group-item purple">
          <h4>
            <span>Key Facts</span>
            {% if user.id == profile.id %}
            <div class="btn btn-default purple pull-right">
                <a href="{% url 'edit_profile' %}"><i class="fa fa-pencil"></i> Edit</a>
            </div>
            {% endif %}
          </h4>
        </li>
        <li class="list-group-item"><b>Cause areas: </b>{{ profile.get_pretty_cause_areas|default:'N/A' }}</li>
        <li class="list-group-item"><b>Available to volunteer: </b>{{ profile.available_to_volunteer|yesno:"Yes,No"|default:'N/A' }}</li>
        <li class="list-group-item"><b>Open to job offers: </b>{{ profile.open_to_job_offers|yesno:"Yes,No"|default:'N/A' }}</li>
        <li class="list-group-item"><b>Expertise: </b>{{ profile.get_pretty_expertise|default:'N/A' }}</li>
        <li class="list-group-item"><b>Available as speaker: </b>{{ profile.available_as_speaker|yesno:"Yes,No"|default:'N/A' }}</li>
        <li class="list-group-item"><b>Topics I speak about: </b>{{ profile.topics_i_speak_about|default:'N/A' }}</li>
      </ul>
      </div>
    </div>
    <div class="col-md-6">
        {% include 'eahub/maps/profile_page_map.html' with lat=profile.lat lon=profile.lon %}
    </div>
  </div>
  <div class="panel panel-default summary">
    <div class="panel-heading">
      <h3 class="panel-title">Summary</h3>
    </div>
    <div class="panel-body">
      {{ profile.summary|default:'N/A' }}
      {% if user.id == profile.id %}
        <br>
        <span class="btn btn-default btn-xs">
          <a href="{% url 'edit_profile' %}"><i class="fa fa-pencil"></i> Edit</a>
        </span>
      {% endif %}
    </div>
  </div>
</div>

<br>

<div class="container profile-info">
  <div class="row">

    <!-- cause area -->
    <div class="col-md-4">
      <div class="panel panel-default">
        <img style="width: 100px; margin-top: 20px;" src="/static/images/home/ea_donation_swap.png">
        <div class="panel-body">
          <h3>Cause Area</h3>
          <p>
            {{ profile.get_pretty_cause_areas|default:'N/A' }}
            {% if profile.cause_areas_other %}
              <br>+ {{ profile.cause_areas_other }}
            {% endif %}
            {% if profile.available_to_volunteer %}
              <br>
              <div class="alert alert-success" style="margin-bottom: -10px;">Available to volunteer</div>
            {% endif %}
            {% if user.id == profile.id and profile.gdpr_confirmed %}
              <br>
              <span class="btn btn-default btn-xs">
                <a href="{% url 'edit_profile_cause_areas' %}"><i class="fa fa-pencil"></i> Edit</a>
              </span>
            {% endif %}
          </p>
          {% if profile.giving_pledge or profile.giving_pledge_other %}
            <p>
              <strong>Giving Pledge Given: </strong>
              {% if profile.giving_pledge != 'OTHER' %}
                <span>{{ profile.get_giving_pledge_display }}</span>
              {% else %}
                <span>{{ profile.giving_pledge_other }}</span>
              {% endif %}
            </p>
          {% endif %}
        </div>
      </div>
    </div>

    <!-- career -->
    <div class="col-md-4">
      <div class="panel panel-default">
        <img style="width: 100px; margin-top: 20px;" src="/static/images/BriefcaseHub.png">
        <div class="panel-body">
          <h3>Career</h3>
          <p>
            {{ profile.get_pretty_expertise|default:'N/A' }}
            {% if profile.expertise_other %}
              <br>+ {{ profile.expertise_other }}
            {% endif %}
            {% if profile.open_to_job_offers %}
              <br>
              <div class="alert alert-success" style="margin-bottom: -10px;">Open to job offers</div>
            {% endif %}
            {% if user.id == profile.id and profile.gdpr_confirmed %}
              <br>
              <span class="btn btn-default btn-xs">
                <a href="{% url 'edit_profile_career' %}"><i class="fa fa-pencil"></i> Edit</a>
              </span>
            {% endif %}
          </p>
        </div>
      </div>
    </div>

    <!-- community -->
    <div class="col-md-4">
      <div class="panel panel-default">
        <img style="width: 100px; margin-top: 20px;" src="/static/images/home/ea_profiles.png">
        <div class="panel-body">
          <h3>Community</h3>
            {% if profile.topics_i_speak_about != None %}
            <div class="alert alert-success" style="margin-bottom: -10px;">Available as speaker</div>
            <br>
            <span>I talk about: {{ profile.topics_i_speak_about }}</span>
            {% endif %}
          <br>
          {% if user.id == profile.id and profile.gdpr_confirmed %}
            <span class="btn btn-default btn-xs">
              <a href="{% url 'edit_profile_community' %}"><i class="fa fa-pencil"></i> Edit</a>
            </span>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
  {% if user.id == profile.id %}
  <div class="row">
    <span class="btn btn-default btn-xs delete-btn">
      <h4><a href="{% url 'delete_profile' %}"><i class="fa fa-trash"></i> Delete My Profile</a></h4>
    </span>
  </div>
  {% endif %}

</div>
{% endblock %}
