{% extends 'base.html' %}

{% block content %}

<br><br>

<div class="container animated">
  <div class="row">
    <div class="col-md-offset-2 col-md-2">
      <img class="profile_picture" src="/static/images/avatars/{{ profile.image_placeholder }}">
    </div>
    <div class="col-md-6">
      <h1>{{ profile.full_name|title }}</h1>
      {% if user.id == profile.id %}
        <div class="btn btn-default purple animated infinite pulse">
          <a href="{% url 'edit_profile' %}"><i class="fa fa-pencil"></i> Edit Profile</a>
        </div>
      {% endif %}
    </div>
  </div>
</div>

<br>

{% if user.id == profile.id %}
  <div class="container">
    <div class="alert alert-danger">
        <span>Your profile will remain locked until you edit your profile.</span>
    </div>
  </div>
{% endif %}

<div class="container">
  <div class="row">
    <div class="col-md-6">
      <br>
      <img class="gdpr_img" src="/static/images/gdpr_padlock.png">
    </div>
    <div class="col-md-6">
        <h3>Profile hidden until user confirms what they want to make public</h3>
        <p>Since launching the new Hub in 2019, we wanted to make sure we are respecting your privacy by hiding all personal information until users confirm exactly what information they want to make public on their profile.</p>
        <h3>Wait, this is my profile!</h3>
        <p>Login <a href="{% url 'login' %}">here</a> to restore your old account and set your privacy settings.</p>
    </div>
  </div>
</div>

{% endblock %}
