@media (min-width: 601px) {
  .feedbackbtn {
    top: 60%;
  }
}

@media (max-width: 600px) {
  .feedbackbtn {
    bottom: -30px; 
  }
}

.feedbackbtn {
  position: fixed;
  transform: rotate(-90deg);
  transform-origin: top left;
  color: #fff;
  text-align: center;
  right: -65px;
}

#closebtn, #closebtn2, .submitbtn {
  color: #fff;
  width: 30%;
}

.submitbtn, .feedbackbtn {
  background: rgb(99, 82, 116);
  border-color: rgb(99, 82, 116);
}

