{% extends 'form.html' %}

{% block title %}Career{% endblock %}

{% load crispy_forms_tags %}

{% block form_fields %}

<div class="field field_categories">
    <label>Expertise areas:</label>
    <select class="form-control multiselect-form" name="expertise_areas" multiple>
        {% for choice in expertise_area_choices %}
            <option value="{{ choice.0 }}" {% if choice.0 in profile.expertise_areas %}selected{% endif %}>{{ choice.1.label }}</option>
        {% endfor %}
    </select>
</div>

<div class="field_free_text">
{{ form.expertise_areas_other|as_crispy_field }}
</div>

<div class="field_boolean">
{{ form.open_to_job_offers|as_crispy_field }}
</div>

<div class="field field_categories">
    <label>Career interest areas:</label>
    <select class="form-control multiselect-form" name="career_interest_areas" multiple>
        {% for choice in expertise_area_choices %}
            <option value="{{ choice.0 }}" {% if choice.0 in profile.career_interest_areas %}selected{% endif %}>{{ choice.1.label }}</option>
        {% endfor %}
    </select>
</div>

{% endblock %}

{% block submit%}Update{% endblock%}

{% block form_privacy_note %}
{% if profile.is_public %}
<div class="privacy-note">
  {% if profile.is_approved %}
  You are showing this information to the public.
  {% else %}
  This information will become publicly visible as soon as your profile is approved.
  {% endif %}
  You can <a href="{% url 'edit_profile' %}">change your privacy settings</a>, or <a href="{% url 'privacy_policy' %}">read more about our privacy policy</a>.
</div>
{% endif %}
{% endblock %}
