{% extends 'base_bs5.html' %}

{% load crispy_forms_field crispy_forms_tags static %}

{% block navbar %}
  {% include 'components/navbar.html' %}
{% endblock navbar %}

{% block title %}Edit Profile{% endblock %}

{% block content %}
  <div class="container profile-edit">
    <h1 class="mt-5">Edit your profile</h1>
    <form method="post" action="{% url 'profiles_app:edit_profile' %}">
      {% csrf_token %}
      
      <div class="row row-cols-1 row-cols-xl-2 pt-5">
        <div
          class="col mb-5"
          algolia-api-key="{{ settings.ALGOLIA.API_KEY_READ_ONLY }}"
          algolia-application-id="{{ settings.ALGOLIA.APPLICATION_ID }}"
          algolia-index="{{ settings.ALGOLIA.INDEX_NAME_TAGS }}"
          type-name="expertise_area"
          type-label="Expertise"
          profile-pk="{{ profile.pk }}"
        >
          <div class="vue-profile-edit"></div>
        </div>

        <div
          class="col mb-5"
          algolia-api-key="{{ settings.ALGOLIA.API_KEY_READ_ONLY }}"
          algolia-application-id="{{ settings.ALGOLIA.APPLICATION_ID }}"
          algolia-index="{{ settings.ALGOLIA.INDEX_NAME_TAGS }}"
          type-name="cause_area"
          type-label="Cause Area"
          profile-pk="{{ profile.pk }}"
        >
          <div class="vue-profile-edit"></div>
        </div>

        <div
          class="col mb-5"
          algolia-api-key="{{ settings.ALGOLIA.API_KEY_READ_ONLY }}"
          algolia-application-id="{{ settings.ALGOLIA.APPLICATION_ID }}"
          algolia-index="{{ settings.ALGOLIA.INDEX_NAME_TAGS }}"
          type-name="generic"
          type-label="Tags"
          profile-pk="{{ profile.pk }}"
        >
          <div class="vue-profile-edit"></div>
        </div>
      </div>

      {% if settings.DJANGO_ENV.value == "local" %}
        <script
          src="{{ settings.WEBPACK_DEV_URL }}/component_profile_edit.bundle.js"
        ></script>
      {% else %}
        <script defer src="{% static "dist/component_profile_edit.js" %}"
        ></script>
      {% endif %}

      {{ form|crispy }}
      <button class="btn btn-primary btn-lg mb-5" type="submit">Save</button>

    </form>
  </div>
{% endblock %}

{% block footer %}
  {% include 'includes/footer.html' %}
{% endblock %}
