{% extends 'form.html' %}

{% load crispy_forms_tags %}

{% block title %}{% if form.instance.pk %}Edit Group{% else %}Create Group{% endif %}{% endblock %}

{% block form_fields %}
{{ form|crispy }}
<div class="privacy-note">
  <b>Note:</b> All group information is public.
  Read more about our <a href="{% url 'privacyPolicy' %}">privacy policy</a>.
</div>
{% endblock %}

{% block submit %}Save{% endblock %}

{% block content_after_form %}
{% if form.instance.pk %}
  <div class="panel panel-default">
    <div class="panel-body">
      <div class="btn btn-default">
        <a href="{% url 'localgroups_delete' form.instance.slug %}">Delete this group</a>
      </div>
    </div>
  </div>
{% endif %}
{% endblock %}
