{% extends 'form.html' %}

{% block title %}Edit Profile{% endblock %}

{% load crispy_forms_tags %}

{% block form_fields %}


{{ form.name|as_crispy_field }}

<div class="field image_upload">
  <label for="id_image">Image</label>
  <input type="file" name="image" id="id_image" class="form-control">
  {% if form.image.errors %}
    {% for error in form.image.errors %}
      <div class="alert alert-danger">{{ error }}</div>
    {% endfor %}
  {% endif %}
</div>

{{ form.city_or_town|as_crispy_field }}

{{ form.country|as_crispy_field }}

{{ form.summary|as_crispy_field }}

<div class="subscription">
{{ form.subscribed_to_email_updates|as_crispy_field }}
</div>

{% endblock %}

{% block form_privacy_note %}

<div class="privacy-note">
  <b>Note:</b> All profile information is public.
  Read more about our <a href="{% url 'privacyPolicy' %}">privacy policy</a>.
</div>

{% endblock %}
