{% extends 'form.html' %}

{% block title %}Cause Areas{% endblock %}

{% load crispy_forms_tags %}

{% block form_fields %}

{{ form.errors }}

<div class="field">
    <label>Cause areas:</label>
    <select class="form-control multiselect-form" name="cause_areas" multiple>
        {% for choice in cause_area_choices %}
            <option value="{{ choice.0 }}" {% if choice.0 in profile.cause_areas %}selected{% endif %}>{{ choice.1.label }}</option>
        {% endfor %}
    </select>
</div>

<div class="field_free_text">
{{ form.cause_areas_other|as_crispy_field }}
</div>

<div class="field">
  <label>Giving pledges taken:</label>
  <select class="form-control multiselect-form" name="giving_pledges" multiple>
        {% for choice in giving_pledge_choices %}
            <option value="{{ choice.0 }}" {% if choice.0 in profile.giving_pledges %}selected{% endif %}>{{ choice.1.label }}</option>
        {% endfor %}
  </select>
</div>

<div class="field_boolean">
{{ form.available_to_volunteer|as_crispy_field }}
</div>

{% endblock %}

{% block submit%}Update{% endblock%}

{% block form_privacy_note %}

<div class="privacy-note">
  <b>Note:</b> All profile information is public.
  Read more about our <a href="{% url 'privacyPolicy' %}">privacy policy</a>.
</div>

{% endblock %}
