{% extends 'form.html' %}

{% load crispy_forms_tags %}

{% block title %}{% if form.instance.pk %}Edit Group{% else %}Create Group{% endif %}{% endblock %}

{% block form_fields %}
<div class="form-edit-group">
  <div class="field field_categories">
      <label>Group types:</label>
      <select class="form-control multiselect-form" name="localgroup_types" multiple>
          {% for choice in localgroup_types %}
              <option value="{{ choice.0 }}" {% if choice.0 in profile.cause_areas %}selected{% endif %}>{{ choice.1.label }}</option>
          {% endfor %}
      </select>
  </div>
{{ form|crispy }}
</div>
<div class="privacy-note">
  <b>Note:</b> All group information is public.
  The organisers of a group can see who each other are, even if their profiles are private.
  Read more about our <a href="{% url 'privacy_policy' %}">privacy policy</a>.
</div>
{% endblock %}

{% block submit %}Save{% endblock %}

{% block content_after_form %}
{% if form.instance.pk %}
  <div class="panel panel-default">
    <div class="panel-body">
      <div class="btn btn-default">
        <a href="{% url 'localgroups_delete' form.instance.slug %}">Delete this group</a>
      </div>
    </div>
  </div>
{% endif %}
{% endblock %}
