{% extends 'form.html' %}

{% block title %}Career{% endblock %}

{% load crispy_forms_tags %}

{% block form_fields %}

<div class="field">
    <label>Expertise</label>
    <select class="form-control multiselect-form" name="expertise_areas" multiple>
        {% for choice in expertise_area_choices %}
            <option value="{{ choice.0 }}" {% if choice.0 in profile.expertise_areas %}selected{% endif %}>{{ choice.1.label }}</option>
        {% endfor %}
    </select>
</div>

<div class="field_free_text">
{{ form.expertise_areas_other|as_crispy_field }}
</div>

{{ form.open_to_job_offers|as_crispy_field }}

{% endblock %}

{% block submit%}Update{% endblock%}

{% block form_privacy_note %}

<div class="privacy-note">
  <b>Note:</b> All profile information, including your openness to receiving job offers, is public.
  Read more about our <a href="{% url 'privacyPolicy' %}">privacy policy</a>.
</div>

{% endblock %}
