{% extends 'form.html' %}

{% block title %}Cause Areas{% endblock %}

{% block form_fields %}

{{ form.errors }}

<div class="field">
    <label>Cause areas:</label>
    <select class="form-control multiselect-form" name="cause_areas" multiple>
        {% for choice in cause_area_choices %}
            <option value="{{ choice.0 }}" {% if choice.0 in profile.cause_areas %}selected{% endif %}>{{ choice.1.label }}</option>
        {% endfor %}
    </select>
</div>

<div class="field">
  <label>Giving pledges taken:</label>
  <select class="form-control multiselect-form" name="giving_pledges" multiple>
        {% for choice in giving_pledge_choices %}
            <option value="{{ choice.0 }}" {% if choice.0 in profile.giving_pledges %}selected{% endif %}>{{ choice.1.label }}</option>
        {% endfor %}
  </select>
</div>

<div class="field">
  <label for="id_available_to_volunteer">Available to volunteer:</label>
  <select class="form-control" name="available_to_volunteer">
    <option value="" {% if profile.available_to_volunteer == None %}selected{% endif %}>N/A</option>
    <option value="True" {% if profile.available_to_volunteer == 1 %}selected{% endif %}>Yes</option>
    <option value="False" {% if profile.available_to_volunteer == 0 %}selected{% endif %}>No</option>
  </select>
</div>
<button type="submit" class="btn btn-default">Update</button>
<div class="privacy-note">
  <b>Note:</b> All profile information is public.
  Read more about our <a href="{% url 'privacyPolicy' %}">privacy policy</a>.
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
{% endblock %}
