{% extends 'form.html' %}

{% block title %}Career{% endblock %}

{% block form_fields %}

<div class="field">
    <label>Expertise:</label>
    <select class="form-control multiselect-form" name="custom_expertise" multiple>
        {% for choice in profile.EXPERTISE_CHOICES %}
            <option value="{{ choice.0 }}" {% if choice.0 in profile.expertise %}selected{% endif %}>{{ choice.1 }}</option>
        {% endfor %}
    </select>
</div>

<div class="field">
  <label for="id_open_to_job_offers">Open to job offers:</label>
  <select class="form-control" name="open_to_job_offers">
    <option value="" {% if profile.open_to_job_offers == None %}selected{% endif %}>N/A</option>
    <option value="True" {% if profile.open_to_job_offers == 1 %}selected{% endif %}>Yes</option>
    <option value="False" {% if profile.open_to_job_offers == 0 %}selected{% endif %}>No</option>
  </select>
</div>
<button type="submit" class="btn btn-default">Update</button>
<div class="privacy-note">
  <b>Note:</b> All profile information is public.
  Read more about our <a href="{% url 'privacyPolicy' %}">privacy policy</a>.
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="/static/scripts/forms/helpers.js"></script>
<script src="/static/scripts/forms/form_career.js"></script>
{% endblock %}
