{% extends 'form.html' %}

{% block title %}Community{% endblock %}

{% load crispy_forms_tags %}

{% block form_fields %}

<div class="field field_categories">
    <label>Organisational Affiliations:</label>
    <select class="form-control multiselect-form" name="organisational_affiliations" multiple>
        {% for choice in organisational_affiliation_choices %}
            <option value="{{ choice.0 }}" {% if choice.0 in profile.organisational_affiliations %}selected{% endif %}>{{ choice.1.label }}</option>
        {% endfor %}
    </select>
</div>

<div class="field">
{{ form.local_groups|as_crispy_field }}
</div>

<div class="field_free_text">
{{ form.topics_i_speak_about|as_crispy_field }}
</div>

<div class="field">
{{ form.available_as_speaker|as_crispy_field }}
</div>

{% if profile.is_public %}
<div class="privacy-note">
  Selecting "Yes" may allow others to search for your profile in the future based on your location, cause areas, expertise areas, and organizational affiliations.
</div>
{% endif %}

{% endblock %}

{% block submit%}Update{% endblock%}

{% block form_privacy_note %}
{% if profile.is_public %}
<div class="privacy-note">
  You are showing this information to the public. You can <a href="{% url 'edit_profile' %}">change your privacy settings</a>, or <a href="{% url 'privacyPolicy' %}">read more about our privacy policy</a>.
</div>
{% endif %}
{% endblock %}
