{% extends 'form.html' %}

{% block title %}Community{% endblock %}

{% load crispy_forms_tags %}

{% block form_fields %}

<div class="field org_affiliation">
    <label>Organisational Affiliation</label>
    <select class="form-control multiselect-form" name="organisational_affiliations" multiple>
        {% for choice in organisational_affiliation_choices %}
            <option value="{{ choice.0 }}" {% if choice.0 in profile.organisational_affiliations %}selected{% endif %}>{{ choice.1.label }}</option>
        {% endfor %}
    </select>
</div>

{{ form.available_as_speaker|as_crispy_field }}

<div class="field_free_text">
{{ form.topics_i_speak_about|as_crispy_field }}
</div>

<div class="field">
{{ form.local_groups|as_crispy_field }}
</div>

{% endblock %}

{% block submit%}Update{% endblock%}

{% block form_privacy_note %}

<div class="privacy-note">
  <b>Note:</b> All profile information is public.
  Read more about our <a href="{% url 'privacyPolicy' %}">privacy policy</a>.
</div>

{% endblock %}
