{% extends 'form.html' %}

{% load crispy_forms_tags %}

{% load static sekizai_tags %}


{% block title %}{% if form.instance.pk %}Edit Group{% else %}Create Group{% endif %}{% endblock %}

{% block form_fields %}

  {% addtoblock 'js' %}
    {% if settings.DJANGO_ENV.value == 'local' %}
      <script defer src="{{ settings.WEBPACK_DEV_URL }}/component_local_groups_edit.bundle.js"></script>
    {% else %}
      <script defer src="{% static 'dist/component_local_groups_edit.js' %}"></script>
    {% endif %}
  {% endaddtoblock %}
  
  <div class="form-edit-group">
    {{ form|crispy }}
  </div>
  
  <div class="privacy-note">
    <b>Note:</b> All group information is public.
    The organisers of a group can see who each other are, even if their profiles are private.
    Read more about our <a href="{% url 'privacy_policy' %}">privacy policy</a>.
  </div>
  
  <script defer src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.12/js/select2.min.js"></script>
  <script defer src="{% static 'django_select2/django_select2.js' %}"></script>
  {{ form.media.css }}

{% endblock %}

{% block submit %}Save{% endblock %}

{% block content_after_form %}
  {% if form.instance.pk %}
    <div class="panel panel-default">
      <div class="panel-body">
        <a href="{% url 'localgroups_delete' form.instance.slug %}">
          <div class="btn btn-default">
            Delete this group
          </div>
        </a>
      </div>
    </div>
  {% endif %}
{% endblock %}
