{% extends 'form.html' %}

{% load static sekizai_tags %}

{% block title %}Community{% endblock %}

{% load crispy_forms_tags %}

{% block form_fields %}

{% addtoblock 'js' %}
  {% if settings.DJANGO_ENV.value == 'local' %}
    <script src="{{ settings.WEBPACK_DEV_URL }}/component_multiselect_forms.bundle.js"></script>
  {% else %}
    <script src="{% static 'dist/component_multiselect_forms.js' %}"></script>
  {% endif %}
{% endaddtoblock %}

<div class="field field_categories">
    <label>Organisational Affiliations:</label>
    <div class="label-info">Organisations that you work or worked with</div>
    <select class="form-control multiselect-form" name="organisational_affiliations" multiple>
        {% for choice in organisation_choices %}
            <option value="{{ choice.0 }}" {% if choice.0 in profile.organisational_affiliations %}selected{% endif %}>{{ choice.1.label }}</option>
        {% endfor %}
    </select>
</div>

<div class="field">
{{ form.local_groups|as_crispy_field }}
</div>

<div class="field">
{{ form.available_as_speaker|as_crispy_field }}
</div>

<div class="field_free_text">
{{ form.topics_i_speak_about|as_crispy_field }}
</div>

<div class="field_free_text">
{{ form.offering|as_crispy_field }}
</div>

<div class="field_free_text">
{{ form.looking_for|as_crispy_field }}
</div>

{% endblock %}

{% block submit%}Update{% endblock%}

{% block form_privacy_note %}
{% if profile.is_public %}
<div class="privacy-note">
  {% if profile.is_approved %}
  You are showing this information to the public.
  {% else %}
  This information will become publicly visible as soon as your profile is approved.
  {% endif %}
  You can <a href="{% url 'edit_profile' %}">change your privacy settings</a>, or <a href="{% url 'privacy_policy' %}">read more about our privacy policy</a>.
</div>
{% endif %}
{% endblock %}
