{% extends 'form.html' %}

{% block title %}Cause Areas{% endblock %}

{% load crispy_forms_tags %}

{% block form_fields %}

{{ form.errors }}

<div class="field">
    <label>Cause areas:</label>
    <select class="form-control multiselect-form" name="cause_areas" multiple>
        {% for choice in cause_area_choices %}
            <option value="{{ choice.0 }}" {% if choice.0 in profile.cause_areas %}selected{% endif %}>{{ choice.1.label }}</option>
        {% endfor %}
    </select>
</div>


<div class="field" id="field_cause_areas_other">
  <label for="id_cause_areas_other">Other cause areas:</label>
  <textarea type="text" name="cause_areas_other" id="id_cause_areas_other" class="form-control" rows="4" placeholder="Global Warming, Education" maxlength="1000">{{ form.cause_areas_other.value|default:'' }}</textarea>
  {% if form.cause_areas_other.errors %}
    {% for error in form.cause_areas_other.errors %}
      <div class="alert alert-danger">{{ error }}</div>
    {% endfor %}
  {% endif %}
</div>

<div class="field">
  <label>Giving pledges taken:</label>
  <select class="form-control multiselect-form" name="giving_pledges" multiple>
        {% for choice in giving_pledge_choices %}
            <option value="{{ choice.0 }}" {% if choice.0 in profile.giving_pledges %}selected{% endif %}>{{ choice.1.label }}</option>
        {% endfor %}
  </select>
</div>

{{ form.available_to_volunteer|as_crispy_field }}

{% endblock %}

{% block submit%}Update{% endblock%}

{% block form_privacy_note %}

<div class="privacy-note">
  <b>Note:</b> All profile information is public.
  Read more about our <a href="{% url 'privacyPolicy' %}">privacy policy</a>.
</div>

{% endblock %}
