{% extends 'base_bs5.html' %}

{% load crispy_forms_field crispy_forms_tags static widget_tweaks sekizai_tags %}


{% block navbar %}
  {% include 'components/navbar.html' %}
{% endblock navbar %}

{% block title %}Edit Profile{% endblock %}

{% block content %}
  {% addtoblock 'body_classes' %}profile-edit-body{% endaddtoblock %}

  {% include 'includes/messages.html' %}

  <script>
    const DJANGO = {
      algoliaApiKey: `{{ settings.ALGOLIA.API_KEY_READ_ONLY }}`,
      algoliaApplicationId: `{{ settings.ALGOLIA.APPLICATION_ID }}`,
      algoliaIndexName: `{{ settings.ALGOLIA.INDEX_NAME_TAGS }}`,
      profilePk: {{ profile.pk }},
    }
  </script>

  <div class="container profile-edit">

    <form method="post" action="{% url 'profiles_app:edit_profile' %}" enctype="multipart/form-data">
      {% csrf_token %}

      <div class="row">
        <div class="col-24 col-lg-21">
          <h1>Edit your profile</h1>
          <div class="row row-cols-2">
            <div class="col">
              {% include 'includes/field.html' with form=form field=form.first_name %}
            </div>
            <div class="col">
              {% include 'includes/field.html' with form=form field=form.last_name %}
            </div>
          </div>

          <div class="row row-cols-2">
            <div class="col">
              <div class="form-group">
                <label class="control-label">Email</label>
                <input value="{{ profile.user.email}}" class="form-control" disabled>
                <a class="btn btn-secondary btn-input-edit"
                  href="{% url 'account_email' %}">
                  <i class="fa fa-pencil-alt"></i>
                </a>
              </div>
            </div>
            <div class="col">
              <div class="form-group form-group__password">
                <label class="control-label">Password</label>
                <input type="text" value="●●●●●●●●●●●●●●" class="form-control" disabled>
                <a class="btn btn-secondary btn-input-edit"
                  href="{% url 'account_change_password' %}">
                  <i class="fa fa-pencil-alt"></i>
                </a>
              </div>
            </div>
          </div>
          <div class="row row-cols-2">
            <div class="col">
              {% include 'includes/field.html' with form=form field=form.country %}
            </div>
            <div class="col">
              {% include 'includes/field.html' with form=form field=form.city_or_town %}
            </div>
          </div>
          {% include 'includes/field.html' with form=form field=form.image %}

          {% include 'includes/field.html' with form=form rows=7 field=form.summary placeholder="In West Philadelphia born and raised. On the playground is where I spent most of my days." %}

          <div class="mb-5"
            data-type-name="generic"
            data-type-label="Tags"
          >
            <div class="vue-profile-tag-input"></div>
          </div>

          <div class="row row-cols-1 row-cols-lg-3">
            <div class="col">
              {% include 'includes/field.html' with form=form field=form.facebook_url %}
            </div>
            <div class="col">
              {% include 'includes/field.html' with form=form field=form.linkedin_url %}
            </div>
            <div class="col">
              {% include 'includes/field.html' with form=form field=form.personal_website_url placeholder="https://example.com" %}
            </div>
          </div>

          <div class="row row-cols-1 row-cols-lg-2">
            <div class="col">
              {% include 'includes/field.html' with form=form rows=2 field=form.offering placeholder="Teaching python" %}
            </div>
            <div class="col">
              {% include 'includes/field.html' with form=form rows=2 field=form.looking_for placeholder="Chat about wild animal suffering" %}
            </div>
          </div>


          <h2>Community</h2>
          {% include 'includes/field.html' with form=form field=form.available_as_speaker %}

          {% include 'includes/field.html' with form=form rows=1 field=form.topics_i_speak_about %}
          {% include 'includes/field.html' with form=form field=form.available_to_volunteer %}

          {% include 'includes/field.html' with form=form field=form.local_groups %}

          <div class="mb-5"
            data-type-name="organisational_affiliation"
            data-type-label="Organisational affiliations"
          >
            <div class="vue-profile-tag-input"></div>
          </div>
          
          <div class="mb-5"
            data-type-name="pledge"
            data-type-label="Pledges"
          >
            <div class="vue-profile-tag-input"></div>
          </div>

          <div class="mb-5"
            data-type-name="event_attended"
            data-type-label="Events attended"
          >
            <div class="vue-profile-tag-input"></div>
          </div>



          <h2>Career</h2>
          <div class="row row-cols-2">
            <div class="col">
              {% include 'includes/field.html' with form=form field=form.job_title %}
            </div>
            <div class="col col-bool-with-margin-top">
              {% include 'includes/field.html' with form=form field=form.open_to_job_offers %}
            </div>
          </div>

          <div class="mb-5"
            data-type-name="career_interest"
            data-type-label="Career interests"
          >
            <div class="vue-profile-tag-input"></div>
          </div>

          <div class="mb-5"
            data-type-name="expertise_area"
            data-type-label="Expertise areas"
          >
            <div class="vue-profile-tag-input"></div>
          </div>

          {% if profile.expertise_areas_other %}
            {% include 'includes/field.html' with form=form rows=1 field=form.expertise_areas_other %}
          {% endif %}

          <div class="mb-5"
            data-type-name="cause_area"
            data-type-label="Cause areas"
          >
            <div class="vue-profile-tag-input"></div>
          </div>

          {% if profile.cause_areas_other %}
            {% include 'includes/field.html' with form=form rows=1 field=form.cause_areas_other %}
          {% endif %}
        

          <h2>Settings</h2>
          {% include 'includes/field.html' with form=form field=form.is_public %}
          {% include 'includes/field.html' with form=form field=form.allow_messaging %}
          <a href="{% url 'profiles_app:delete_profile' %}">Delete My Profile</a>

        </div>
        
        <div class="col-3 btn-submit__col d-none d-lg-block">
          <div class="btn-submit__container">
            <button class="btn btn-lg btn-primary btn-submit" type="submit">Save</button>
          </div>
        </div>

      </div>

      <div class="btn-submit__container" data-pos="bottom">
      <button class="btn btn-lg btn-primary btn-submit" type="submit">Save</button>
      </div>

    </form>

    {% if settings.DJANGO_ENV.value == "local" %}
      <script
        defer
        src="{{ settings.WEBPACK_DEV_URL }}/component_profile_edit.bundle.js"
      ></script>
    {% else %}
      <script defer src="{% static "dist/component_profile_edit.js" %}"
      ></script>
    {% endif %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.12/js/select2.min.js" defer></script>
    <script src="{% static 'django_select2/django_select2.js' %}" defer></script>
    {{ form.media.css }}
  </div>

{% endblock %}

{% block footer %}
{% endblock %}
