{% extends 'base.html' %}

{% load static sekizai_tags %}

{% load rules %}

{% block title %}Groups{% endblock %}

{% block content %}

<div class="container animated fadeIn">
  <br>
  <br>
  <div class="text-center">
    <a href="https://forum.effectivealtruism.org/community"><button type="button" class="btn btn-find-forum-groups btn-large btn-primary">Find groups on the EA Forum</button></a>
  </div>
  <br>
  <p>As the EA Hub <a href="https://forum.effectivealtruism.org/posts/FdWv7t8Pyxyxe6xnb/the-ea-hub-is-suspending-new-feature-development-with-plans" target="_blank">has suspended feature development and plans to retire</a>, we recommend that you use the EA Forum's Groups feature instead.</p>
</div>

{% endblock %}
