{% extends 'base.html' %}

{% load rules %}

{% block content %}

<br><br>




<div class="container animated bounceIn">
  <div class="row">
    <div class="col-xs-offset-2 col-xs-2">
      <img class="profile_picture" src="/static/images/group_avatar.png">
    </div>
    <div class="col-xs-6">
      <h1>{{ group.name }}</h1>
      <div class="btn btn-default purple">
        {% if group.email %}
          <a href="mailto:{{ group.email }}"><i class="fa fa-envelope"></i> Message</a>
        {% elif group.facebook_group %}
          <a href="{{ group.facebook_group }}" target="_blank"><i class="fa fa-envelope"></i> Message</a>
        {% elif group.facebook_page %}
          <a href="{{ group.facebook_page }}" target="_blank"><i class="fa fa-envelope"></i> Message</a>
        {% else %}
          <span><i class="fa fa-microphone-slash"></i> Messaging disabled</span>
        {% endif %}
      </div>
      {% has_perm 'localgroups.change_local_group' user group as can_edit_local_group %}
      {% if can_edit_local_group %}
        <div class="btn btn-default purple">
          <a href="{% url 'localgroups_update' group.slug %}">Edit</a>
        </div>
      {% endif %}
    </div>
  </div>
</div>

<br><br>

<div class="container profile" id="">
  <div class="row">
    <div class="col-md-6 key-facts">
    <div class="background">
      <ul class="list-group">
        <li class="list-group-item purple"><h4>Key Facts</h4></li>
        {% if group.group_type %}
        <li class="list-group-item">
          <b>Group Type: </b>
          <span>{{ group.get_group_type_display }}</span>
        </li>
        {% endif %}
        <li class="list-group-item"><b>Status: </b>{% if group.is_active %}Active{% else %}Inactive{% endif %}</li>
        <li class="list-group-item"><b>City/Town: </b>{{ group.city_or_town|default_if_none:'N/A' }}</li>
        <li class="list-group-item"><b>Country: </b>{{ group.country|default_if_none:'N/A' }}</li>
        {% if group.organisers.exists %}
          <li class="list-group-item"><b>Organisers:</b>
            <ul>
              {% for organiser in group.organisers.all %}
                {% if organiser.has_profile %}
                  <li><a href="{{ organiser.profile.get_absolute_url }}">{{ organiser.profile.name }}</a></li>
                {% else %}
                  <li>Anonymous</li>
                {% endif %}
              {% endfor %}
            </ul>
          </li>
        {% else %}
          <li class="list-group-item"><b>Organisers: </b>Unknown</li>
        {% endif %}
        <li class="list-group-item"><b>Website: </b>{{ group.website|default:'N/A' }}</li>
        <li class="list-group-item"><b>Facebook Group: </b>{{ group.facebook_group|default:'N/A' }}</li>
        <li class="list-group-item"><b>Facebook Page: </b>{{ group.facebook_page|default:'N/A' }}</li>
        <li class="list-group-item"><b>Email: </b>{{ group.email|default:'N/A' }}</li>
        <li class="list-group-item"><b>Meetup URL: </b>{{ group.meetup_url|default:'N/A' }}</li>
      </ul>
    </div>
    </div>
    <div class="col-md-6">
      {% include 'eahub/maps/profile_page_map.html' with lat=group.lat|default_if_none:0 lon=group.lon|default_if_none:0 active=group.is_active %}
    </div>
  </div>

  {% if messages %}
  <div class="row">
  <div class="col-md-6 col-md-offset-3">
      {% for message in messages %}
      <div {% if message.tags %} class="alert alert-{{message.tags}} hub-{{message.tags}} alert alert-dismissable"{% endif %}>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <div>{{ message }}</div>
      </div>
      {% endfor %}
  </div>
  </div>
  {% endif %}


  <div class="row">
  <div class="text-center group_action">
    <div class="btn-group btn-group-sm text-center" role="group" id="claim_group_toggle">
      <button type="button" class="btn btn-default claim_group_toggler"><i class="fa fa-sitemap"></i> Claim this group</button>
    </div>
    <div id="claim_group_confirm_field" class="col-xs-6 col-xs-offset-3 alert alert-info hub-info confirm_field" role="alert">
      <button type="button" class="close claim_group_toggler">
        <span aria-hidden="true">&times;</span>
      </button>
      {% if user.is_authenticated %}
      <p class="text-center">I confirm that I am an organiser of this group and want to claim it.</p>
      <form method='POST' action="{{group.slug}}/claim" class="text-center">
        {% csrf_token %}
        <div class="btn-group btn-group-sm text-center" role="group">
          <button type="submit" class="btn btn-default"> Confirm</button>
        </div>
      </form>
      {% else %}
      <p class="text-center">You can only claim this group if you're <a href="{% url 'login'%}">logged in</a>.</p>
      {% endif %}
    </div>
  </div>
  </div>

  {% if group.is_active %}
  <div class="row">
  <div class="text-center group_action">
    <div class="btn-group btn-group-sm text-center" role="group" id="report_group_inactive_toggle">
      <button type="button" class="btn btn-default report_group_inactive_toggler"><i class="fa fa-sitemap"></i> Report this group as inactive</button>
    </div>
    <div id="report_group_inactive_confirm_field" class="col-xs-6 col-xs-offset-3 alert alert-info hub-info confirm_field" role="alert">
      <button type="button" class="close report_group_inactive_toggler">
        <span aria-hidden="true">&times;</span>
      </button>
      {% if user.is_authenticated %}
      <p class="text-center">I confirm that this group is no longer active.</p>
      <form method='POST' action="{{group.slug}}/report-inactive" class="text-center group_action">
        {% csrf_token %}
        <div class="btn-group btn-group-sm text-center" role="group">
          <button type="submit" class="btn btn-default"> Confirm</button>
        </div>
      </form>
      {% else %}
      <p class="text-center" style="padding-right: 20px">You can only report this group as inactive if you you're <a href="{% url 'login'%}">logged in</a>.</p>
      {% endif %}
    </div>
  </div>
  </div>
  {% endif %}

</div>
<script src="/static/scripts/group.js"></script>
{% endblock %}
