{% extends 'base.html' %}

{% block content %}

<br><br>

<div class="container animated bounceIn">
  <div class="row">
    <div class="col-xs-offset-2 col-xs-2">
      <img class="profile_picture" src="/static/images/group_avatar.png">
    </div>
    <div class="col-xs-6">
      <h1>{{ group.name }}</h1>
      <div class="btn btn-default purple">
        {% if group.email %}
          <a href="mailto:{{ group.email }}"><i class="fa fa-envelope"></i> Message</a>
        {% elif group.facebook_group %}
          <a href="{{ group.facebook_group }}" target="_blank"><i class="fa fa-envelope"></i> Message</a>
        {% elif group.facebook_page %}
          <a href="{{ group.facebook_page }}" target="_blank"><i class="fa fa-envelope"></i> Message</a>
        {% else %}
          <span><i class="fa fa-microphone-slash"></i> Messaging disabled</span>
        {% endif %}
      </div>
    </div>
  </div>
</div>

<br><br>

<div class="container profile" id="">
  <div class="row">
    <div class="col-md-6 key-facts">
    <div class="background">
      <ul class="list-group">
        <li class="list-group-item purple"><h4>Key Facts</h4></li>
        {% if group.group_type %}
        <li class="list-group-item">
          <b>Group Type: </b>
          <span>{{ group.get_group_type_display }}</span>
        </li>
        {% endif %}
        <li class="list-group-item"><b>City/Town: </b>{{ group.city_or_town|default_if_none:'N/A' }}</li>
        <li class="list-group-item"><b>Country: </b>{{ group.country|default_if_none:'N/A' }}</li>
        <li class="list-group-item"><b>Website: </b>{{ group.website|default:'N/A' }}</li>
        <li class="list-group-item"><b>Facebook Group: </b>{{ group.facebook_group|default:'N/A' }}</li>
        <li class="list-group-item"><b>Facebook Page: </b>{{ group.facebook_page|default:'N/A' }}</li>
        <li class="list-group-item"><b>Email: </b>{{ group.email|default_if_none:'N/A' }}</li>
        <li class="list-group-item"><b>Meetup URL: </b>{{ group.meetup_url|default_if_none:'N/A' }}</li>
      </ul>
    </div>
    </div>
    <div class="col-md-6">
      {% include 'eahub/maps/profile_page_map.html' with lat=group.lat|default_if_none:0 lon=group.lon|default_if_none:0 %}
    </div>
  </div>
</div>
{% endblock %}
