{% extends 'base.html' %}

{% block content %}

<br><br>

<div class="container animated fadeIn">
  <div class="row">
    <div class="col-sm-4 link_box">
        {% comment %}
        <div class="list-group">
          <a href="{% url 'create_group' %}" class="list-group-item"><i class="fa fa-plus"></i>Add a Group</a>
        </div>
        {% endcomment %}
        <div class="list-group">
          <a href="https://resources.eahub.org" class="list-group-item"><i class="fa fa-book"></i>EA Resources</a>
        </div>
        <div class="list-group">
          <a href="mailto:lean@eahub.org" class="list-group-item"><i class="fa fa-envelope"></i>Contact LEAN</a>
        </div>
    </div>
    <div class="col-sm-8">
        {% include 'eahub/maps/list_page_map.html' with map_type="groups" map_data=map_data_groups %}
    </div>
  </div>
</div>

<br><br>

<div class="container animated fadeIn">
  <div class="search">
     Search: <input type="text" id="filterbox">
  </div>
  <table id="datatable-groups" class="table enable-datatable table-striped table-bordered">
      <thead>
          <tr>
              <th>Name</th>
              <th>Location</th>
              <th>Community</th>
          </tr>
      </thead>
      <tbody>
          {% for group in groups %}
          <tr>
              <td>
                  <a href="{% url 'group' group.slug %}">{{ group.name|default_if_none:'' }}</a>
              </td>
              <td>
                  {% if group.country %}{{ group.country }}{% endif %}
                  {% if group.country and group.city_or_town %}/{% endif %}
                  {% if group.city_or_town %}{{ group.city_or_town }}{% endif %}
              </td>
              <td>
                  {% if group.facebook_page %}
                      <a href="{{ group.facebook_page }}" target="_blank"><button class="btn btn-default btn-sm"><i class="fa fa-facebook"></i> Page</button></a>
                  {% endif %}
                  {% if group.facebook_group %}
                      <a href="{{ group.facebook_group }}" target="_blank"><button class="btn btn-default btn-sm"><i class="fa fa-facebook"></i> Community</button></a>
                  {% endif %}
                  {% if group.website %}
                      <a href="{{ group.website }}" target="_blank"><button class="btn btn-default btn-sm">Website</button></a>
                  {% endif %}
              </td>
          </tr>
          {% endfor %}
      </tbody>
  </table>
</div>

{% endblock %}
