{% extends 'base_bs5.html' %}

{% load static sekizai_tags %}

{% block title %}Home{% endblock %}

{% block navbar %}
    {% include 'components/navbar.html' %}
{% endblock %}

{% block content %}
    {% addtoblock 'body_classes' %}homepage home{% endaddtoblock %}

    <div class="container">
        <div class="row home__intro justify-content-center">
            <div class="col-sm-24 col-lg-8 order-1 order-lg-0 align-self-end">
                <h1>EA Hub</h1>
                <p class="home__subtitle">
                    The EA Hub is a place for EAs to connect using our community
                    directory. You can also find volunteers, candidates and EA speakers.
                </p>
                <button type="button" class="btn btn-primary btn-lg btn-secondary">
                    Join the Community
                </button>
            </div>
            <div class="col col-lg-16 d-flex justify-content-end">
                <img class="home__map" src="{% static 'global/images/home/map.svg' %}" alt="world map">
            </div>
        </div>
    </div>
    <div class="container home__hero">
        <div class="hero__img"
             style="background-image: url({% static "global/images/home/profiles-screen.png" %})"
        ></div>
        <div class="container hero__text-wrap">
            <div class="row">
                <div class="col col-lg-9 offset-lg-13 hero__text">
                    <h2 class="hero__title">Community Directory</h2>
                    <p>Discover & connect with EAs nearby through filtering by cities, organizations, etc</p>
                    <a href="{% url 'profiles' %}" class="btn btn-outline-secondary btn-lg">Browse</a>
                </div>
            </div>
        </div>
    </div>
    <div class="container home__hero" data-image-pos="right">
        <div class="hero__img"
             style="background-image: url({% static "global/images/home/groups-screen.png" %})"
        ></div>
        <div class="container hero__text-wrap">
            <div class="row">
                <div class="col col-lg-9 offset-lg-4 hero__text">
                    <h2 class="hero__title">Groups Directory</h2>
                    <p>Discover & connect with EAs nearby through filtering by cities, organizations, etc</p>
                    <a href="{% url 'groups' %}" class="btn btn-outline-secondary btn-lg">Browse</a>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div id="homepage-map"></div>
        <script defer>
            async function loadMap() {
                const response = await fetch('/homepage-map/');
                const homepageMapElem = document.getElementById('homepage-map');
                homepageMapElem.innerHTML = await response.text();
                
                Array.from(homepageMapElem.querySelectorAll('script')).forEach(oldScript => {
                    const newScript = document.createElement('script');
                    Array
                        .from(oldScript.attributes)
                        .forEach(attr => newScript.setAttribute(attr.name, attr.value));
                    newScript.appendChild(document.createTextNode(oldScript.innerHTML));
                    oldScript.parentNode.replaceChild(newScript, oldScript);
                });
            }
            loadMap();
        </script>
    </div>
{% endblock %}

{% block footer %}
{% endblock %}
