{% extends 'base_bs5.html' %}

{% load static sekizai_tags %}

{% block title %}Home{% endblock %}

{% block navbar %}
    {% include 'components/navbar.html' %}
{% endblock %}

{% block content %}
    {% addtoblock 'body_classes' %}homepage home{% endaddtoblock %}

    <div class="container">
        <div class="row home__intro justify-content-center">
            <div class="col-sm-24 col-lg-8 order-1 order-lg-0 align-self-end">
                <h1>EA Hub</h1>
                <p class="home__subtitle">
                    The EA Hub is a place for EAs to connect using our community
                    directory. You can also find volunteers, candidates and EA speakers.
                </p>
                <button type="button" id="signup-btn" class="btn btn-primary btn-lg btn-secondary">
                    Join the Community
                </button>
                <script>
                    document.addEventListener('DOMContentLoaded', () => {
                        document.querySelector('#signup-btn').addEventListener('click', () => {
                            document.querySelector('.join__title').scrollIntoView({behavior: 'smooth'});
                        });
                    });
                </script>
            </div>
            <div class="col col-lg-16 d-flex justify-content-end">
                <img class="home__map" src="{% static 'global/images/home/map.svg' %}" alt="world map">
            </div>
        </div>
    </div>
    <div class="container home__hero">
        <div class="hero__img"
             style="background-image: url({% static "global/images/home/profiles-screen.webp" %})"
        ></div>
        <div class="container hero__text-wrap">
            <div class="row">
                <div class="col col-lg-9 offset-lg-13 hero__text">
                    <h2 class="hero__title">Community Directory</h2>
                    <p>Discover & connect with EAs nearby through filtering by cities, organizations, etc</p>
                    <a href="{% url 'profiles' %}" class="btn btn-outline-secondary btn-lg">Browse</a>
                </div>
            </div>
        </div>
    </div>
    <div class="container home__hero" data-image-pos="right">
        <div class="hero__img"
             style="background-image: url({% static "global/images/home/groups-screen.webp" %})"
        ></div>
        <div class="container hero__text-wrap">
            <div class="row">
                <div class="col col-lg-9 offset-lg-4 hero__text">
                    <h2 class="hero__title">Groups Directory</h2>
                    <p>Discover & connect with EAs nearby through filtering by cities, organizations, etc</p>
                    <a href="{% url 'groups' %}" class="btn btn-outline-secondary btn-lg">Browse</a>
                </div>
            </div>
        </div>
    </div>

    <div class="container join-community">
        <h2 class="join__title">Join the community</h2>

        <div class="row row-cols-1 row-cols-lg-2">
            <div class="col order-2 order-lg-1 join__map-col">
                <div class="join__map-block" id="homepage-map"></div>
                <script defer>
                    async function loadMap() {
                        const response = await fetch('/homepage-map/');
                        const homepageMapElem = document.getElementById('homepage-map');
                        homepageMapElem.innerHTML = await response.text();

                        const scriptsNotExecuted = homepageMapElem.querySelectorAll('script');
                        Array.from(scriptsNotExecuted).forEach(scriptNotExecuted => {
                            const scriptToExecute = document.createElement('script');
                            Array
                                .from(scriptNotExecuted.attributes)
                                .forEach(
                                    attr => scriptToExecute.setAttribute(attr.name, attr.value
                                )
                            );
                            scriptToExecute.appendChild(document.createTextNode(scriptNotExecuted.innerHTML));
                            scriptNotExecuted.parentNode.replaceChild(scriptToExecute, scriptNotExecuted);
                        });
                    }
                    loadMap()
                </script>
            </div>

            <div class="col order-1 order-lg-2 join__form-col">
                <form autocomplete="off">

                    <div class="form-floating">
                        <input type="text" class="form-control form-control-lg"  placeholder="Name" id="signup-name">
                        <label for="signup-name">Name</label>
                    </div>

                    <div class="form-floating">
                        <input type="email" class="form-control form-control-lg"  placeholder="Email" id="signup-email">
                        <label for="signup-email">Email address</label>
                    </div>

                    <div class="form-floating">
                        <input type="password" class="form-control form-control-lg"  placeholder="Password" id="signup-password">
                        <label for="signup-password">Password</label>
                    </div>

                    <button type="submit" class="btn btn-secondary">Sign Up</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}

{% block footer %}
{% endblock %}
