{% extends 'base_bs5.html' %}

{% load static sekizai_tags %}

{% block title %}Home{% endblock %}

{% block navbar %}
    {% include 'components/navbar.html' %}
{% endblock %}

{% block content %}
    {% addtoblock 'body_classes' %}homepage home{% endaddtoblock %}

    <div class="container">
        <div class="row home__intro justify-content-center">
            <div class="col-sm-24 col-lg-8 order-1 order-lg-0 align-self-end">
                <h1>EA Hub</h1>
                <p class="home__subtitle">
                    The EA Hub is a place for EAs to connect using our community
                    directory. You can also find volunteers, candidates and EA speakers.
                </p>
                <button type="button" id="signup-btn" class="btn btn-primary btn-lg btn-secondary">
                    Join the Community
                </button>
                <script>
                    document.getElementById('signup-btn').addEventListener('click', () => {
                        document.getElementById('join-community-tabs')
                            .scrollIntoView({
                                behavior: 'smooth'
                            });
                    });
                </script>
            </div>
            <div class="col col-lg-16 d-flex justify-content-end">
                <img class="home__map" src="{% static 'global/images/home/map.svg' %}" alt="world map">
            </div>
        </div>
    </div>
    <div class="container home__hero">
        <div class="hero__img"
             style="background-image: url({% static "global/images/home/profiles-screen.png" %})"
        ></div>
        <div class="container hero__text-wrap">
            <div class="row">
                <div class="col col-lg-9 offset-lg-13 hero__text">
                    <h2 class="hero__title">Community Directory</h2>
                    <p>Discover & connect with EAs nearby through filtering by cities, organizations, etc</p>
                    <a href="{% url 'profiles' %}" class="btn btn-outline-secondary btn-lg">Browse</a>
                </div>
            </div>
        </div>
    </div>
    <div class="container home__hero" data-image-pos="right">
        <div class="hero__img"
             style="background-image: url({% static "global/images/home/groups-screen.png" %})"
        ></div>
        <div class="container hero__text-wrap">
            <div class="row">
                <div class="col col-lg-9 offset-lg-4 hero__text">
                    <h2 class="hero__title">Groups Directory</h2>
                    <p>Discover & connect with EAs nearby through filtering by cities, organizations, etc</p>
                    <a href="{% url 'groups' %}" class="btn btn-outline-secondary btn-lg">Browse</a>
                </div>
            </div>
        </div>
    </div>

    <div class="container join-community">
        <h2 class="join__title">Join the community</h2>

        <div class="row">
            <div class="col-12">
                <div id="homepage-map"></div>
                <script defer>
                    async function loadMap() {
                        const response = await fetch('/homepage-map/');
                        const homepageMapElem = document.getElementById('homepage-map');
                        homepageMapElem.innerHTML = await response.text();

                        const scriptsNotExecuted = homepageMapElem.querySelectorAll('script');
                        Array.from(scriptsNotExecuted).forEach(scriptNotExecuted => {
                            const scriptToExecute = document.createElement('script');
                            Array
                                .from(scriptNotExecuted.attributes)
                                .forEach(
                                    attr => scriptToExecute.setAttribute(attr.name, attr.value
                                )
                            );
                            scriptToExecute.appendChild(document.createTextNode(scriptNotExecuted.innerHTML));
                            scriptNotExecuted.parentNode.replaceChild(scriptToExecute, scriptNotExecuted);
                        });
                    }
                    loadMap();
                </script>
            </div>

            <div class="col-12 join__form">
                <nav>
                    <div class="nav nav-tabs" id="nav-tab" role="tablist">
                        <a class="nav-link active" id="nav-home-tab" href="#nav-home" aria-controls="nav-home"
                            data-bs-toggle="tab"  role="tab" aria-selected="true">
                            Sign Up
                        </a>
                        <a class="nav-link" id="nav-profile-tab" href="#nav-profile" aria-controls="nav-profile"
                            data-bs-toggle="tab" role="tab" aria-selected="false">
                            Login
                        </a>
                    </div>
                </nav>
                <div class="tab-content" id="join-community-tabs">
                    <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                        <form>
                        
                            <input type="text" class="form-control form-control-lg" placeholder="Name">
                        
                            <input type="email" class="form-control form-control-lg" placeholder="Email">
                        
                            <input type="password" class="form-control form-control-lg" placeholder="Password">
                            <button type="submit" class="btn btn-lg btn-outline-primary">Sign Up</button>
                        </form>
                    </div>
                    <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
                        <form>
                        
                            <input type="text" class="form-control form-control-lg" placeholder="Email">
                        
                            <input type="password" class="form-control form-control-lg" placeholder="Password">
                        
                            <button type="submit" class="btn btn-lg btn-outline-primary">Login</button>
                        </form>
                    </div>
                </div>
                <script defer>
                    /* because bs5 seems to have a bug with tabs init, we init them manually here */
                    document.addEventListener('DOMContentLoaded', () => {
                        const triggerTabList = [].slice.call(document.querySelectorAll('#nav-tab a'));
                        triggerTabList.forEach(triggerEl => {
                            const tabTrigger = new bootstrap.Tab(triggerEl);
                            triggerEl.addEventListener('click', event => {
                                event.preventDefault();
                                tabTrigger.show();
                            });
                        });
                    })
                </script>
            </div>
        </div>
    </div>
{% endblock %}

{% block footer %}
{% endblock %}
