{% extends 'base.html' %}

{% block content %}

<div class="jumbotron">
  <div class="container">
    <img class="hidden-xs" src="/static/images/banner.png">
    <h2 class="text-center">Join 2000+ aspiring altruists around the world</h1>
  </div>
</div>

<div class="container animated bounceIn features">
  <div class="row">
    <div class="col-xs-12 col-sm-4">
      <a class="thumbnail" href="{% url 'profiles' %}" title="Learn about EAs around the world, and connect with them">
        <img src="/static/images/home/ea_profiles.png">
        <h4>EA Profiles</h4>
      </a>
    </div>
    <div class="col-xs-12 col-sm-4">
      <a class="thumbnail" href="https://forum.effectivealtruism.org" title="Talk to EAs through different online channels">
        <img src="/static/images/home/community_discussion.png">
        <h4>Community & Discussion</h4>
      </a>
    </div>
    <div class="col-xs-12 col-sm-4">
      <a class="thumbnail" href="{% url 'groups' %}" title="Learn about EA groups around the world">
        <img src="/static/images/home/ea_groups.png">
        <h4>EA Groups</h4>
      </a>
    </div>
    </div>
    <div class="row">
    <div class="col-xs-12 col-sm-4">
      <a class="thumbnail" href="https://resources.eahub.org" title="Find guides, tips, research and reflections on EA movement building">
        <img src="/static/images/home/HubPamphlets.png">
        <h4>EA Resources</h4>
      </a>
    </div>
    <div class="col-xs-12 col-sm-4">
      <a class="thumbnail" href="https://donationswap.eahub.org" title="Pay less tax on your charitable donations by teaming up with EAs around the world">
        <img src="/static/images/home/ea_donation_swap.png">
        <h4>EA Donation Swap</h4>
      </a>
    </div>
    <div class="col-xs-12 col-sm-4">
      <a class="thumbnail" href="https://www.eawork.club" title="Find or advertise opportunities to volunteer and work in EA">
        <img src="/static/images/home/ea_work_club.png">
        <h4>EA Work & Volunteering</h4>
      </a>
    </div>
    </div>
    <div class="row">
    <div class="col-xs-12 col-sm-4">
      <a class="thumbnail" href="https://priority.wiki" title="Find and contribute to the latest research on high impact cause areas">
        <img src="/static/images/home/HubScales.png">
        <h4>EA Priorities Wiki</h4>
      </a>
    </div>
    <div class="col-xs-12 col-sm-4">
      <a class="thumbnail" href="http://effectivethesis.com/" title="Find a thesis topic with high potential to make the world a significantly better place">
        <img src="/static/images/home/HubMortar.png">
        <h4>Effective Thesis</h4>
      </a>
    </div>
    <div class="col-xs-12 col-sm-4">
      <span class="inactive" title="Watch this space">
        <img src="/static/images/home/GreyProjects.png">
        <h4>EA Projects</h4>
      </span>
    </div>
    </div>
  </div>

<div class="container">
  {% include 'eahub/maps/homepage_map.html' %}
</div>

{% endblock %}
