{% extends 'base_bs5.html' %}

{% load static %}

{% block title %}Privacy Policy{% endblock %}

{% block navbar %}
    {% include 'components/navbar.html' %}
{% endblock %}

{% block content %}
<div class="container info">
<br>
<h1>Effective Altruism Hub Privacy Policy</h1>
<p>
This is the privacy policy for the Effective Altruism Hub ("<strong>EA Hub</strong>", "<strong>we</strong>", "<strong>our</strong>", "<strong>us</strong>"). This policy explains how and why we collect and use personal information, and what we do to ensure it is kept private and secure when we do so.
</p>
<p>
This policy governs all pages hosted on the eahub.org domain and pages hosted on any subdomain of any of these (our "<strong>Websites</strong>"). When you visit any of our Websites, we may collect personal information from you, either directly, or passively as you browse. Please read this policy to understand what personal information we collect and how we use it.
</p>
<h2>Contents</h2>
<ul style="list-style-type:none">
    <li><a href="#1-who-we-are">1. Who we are</a></li>
    <li><a href="#2-the-personal-information-we-collect">2. The personal information we collect</a></li>
    <li><a href="#3-cookies">3. Cookies</a></li>
    <li><a href="#4-how-we-use-your-personal-information">4. How we use your personal information</a></li>
    <li><a href="#5-legitimate-interests">5. Legitimate interests</a></li>
    <li><a href="#6-keeping-your-personal-information-safe">6. Keeping your personal information safe</a></li>
    <li><a href="#7-storage-and-retention">7. Storage and retention</a></li>
    <li><a href="#8-disclosing-your-personal-information">8. Disclosing your personal information</a></li>
    <li><a href="#9-disclosures-required-by-law">9. Disclosures required by law</a></li>
    <li><a href="#10-your-rights">10. Your rights</a></li>
    <li><a href="#11-updating-this-policy">11. Updating this policy</a></li>
</ul>

<h2 id="1-who-we-are">1. Who we are</h2>
<p>We are Effective Altruism Hub Ltd, a company limited by guarantee in England and Wales  (registration number 13462816). Our registered office is at 71-75 Shelton Street, Covent Garden, London, WC2H 9JQ.</p>
<p>For the purposes of data protection law, we will be a controller of the personal information we hold about you. This means we make decisions about how and why your information is used, and have a legal duty to make sure that your rights are protected when we do so. Our team members have access to your information in accordance with the access they need to fulfil their roles. See Section 6 for more details about how we keep it secure.</p>
<p>If you have any questions about our privacy policy, please get in touch with us via admin@eahub.org.</p>

<h2 id="2-the-personal-information-we-collect">2. The personal information we collect</h2>
<p>We collect the following types of personal information:</p>

<h3>Information you give us</h3>
<p>To participate in our community, you must create a profile on the EA Hub. To do so, you will need to provide us with the following information:</p>
<ul>
    <li>your name</li>
    <li>your email address</li>
</ul>
<p>For your profile to be useful to other members in the community, we encourage to provide more information, for example</p>
<ul>
    <li>Your job title</li>
    <li>EA groups you’re a member of</li>
    <li>A short summary about you</li>
    <li>Whether you’re looking for a job</li>
    <li>Whether you have taken a giving pledge</li>
    <li>...and many others</li>
</ul>
<p>You have control over who can see your information. There are three profile visibility levels:</p>
<ul>
    <li>Public: Everyone on the web can see your information (except for your email address)</li>
    <li>Internal: Everyone on the EA Hub can see your information</li>
    <li>Private: Only you can see your information, as well as our team members</li>
</ul>
<p>If you apply for a position with the EA Hub, we may ask you for personal information so that we can contact you and verify your identity and right to work.</p>
<p>If you contact us for any reason, we may keep a record of that correspondence.</p>

<h3>Technical data</h3>

<p>When you visit any of our Websites, whether you’re logged in or not, we may collect technical data about the device you are using, including, where available, an anonymised version of your IP address, operating system, and browser type. This is used for system administration and to improve the look and feel of our Websites. See Section 3 for more about the technical data we collect through cookies and other web beacons.</p>

<h3>Profile activity</h3>

<p>When you are logged into your profile, we keep logs of your profile activity:</p>
<ul>
    <li>Any updates to your profile such as changes to your summary</li>
    <li>Any updates to a group you are managing as organiser</li>
    <li>Who you’ve sent a message (but not the content of the message)</li>
    <li>Any updates to your settings, such as your profile’s visibility</li>
</ul>

<p>We do so in order to improve the overall quality of the EA Hub, e.g., we may use such data to measure the efficiency of our marketing campaigns.</p>

<h3>Special category data (also known as sensitive personal information)</h3>

<p>Some of the personal information you can provide as part of your profile is special category data, such as details about your religious or philosophical beliefs, sexual orientation, or political opinions. You can control which information you provide and delete the information (for details on your right to be forgotten, see Section 10).</p>
<p>Please be aware that even if you delete information in your public profile, anyone on the web can have accessed it and made copies of it prior to you deleting it (or any EA Hub user if your profile is internal). We do not have any control over copies made by others.</p>

<h2 id="3-cookies">3. Cookies</h2>

<p>A cookie is a small file of letters and numbers that we store on your browser or device, with your permission.</p>
<p>
    We use the following types of cookies:
</p>
<ul>
    <li>Strictly necessary cookies. These are cookies that are required for the operation of our Websites. They include, for example, cookies that enable you to log into secure areas of our Websites. You can refuse to accept all or some cookies by modifying settings within your browser (for guidance on how to do this visit <a rel="nofollow" target="_blank" href="https://www.aboutcookies.org/"> aboutcookies.org</a>. However, if you block strictly necessary cookies, you may be unable to access certain parts of our Websites.</li>
    <li>Analytical/performance cookies. These cookies allow us to recognise and count the number of visitors and to see how visitors move around our Websites. This helps us to improve the way they work ⁠— for example, by ensuring that users can easily find what they are looking for.</li>
</ul>
<p>We use third-party services such as Google Analytics to help us improve the look and feel of our Websites. Google Analytics places a cookie on your browser which keeps track of certain details about your visit to our Websites. These include what Google search criteria you used to find them in the first place, how long you stay on certain pages, and what website you visit immediately after leaving our own. This data will be aggregated and anonymised to the greatest extent possible. We only store an anonymised version of your IP address, so you will not be identifiable via your IP address.</p>
<p>For more information about Google Analytics, please visit<a rel="nofollow" target="_blank" href="https://policies.google.com/privacy?hl=en-GB&gl=uk"> Google’s Privacy Policy</a>. If you wish to opt out of being tracked by Google, you can do that by downloading the browser add-on located <a rel="nofollow" target="_blank" href="https://tools.google.com/dlpage/gaoptout"> here</a>.</p>

<h2 id="4-how-we-use-your-personal-information">4. How we use your personal information</h2>

<p>We will only use your personal information when the law allows us to. Most commonly, we will use your personal information in the following circumstances:</p>
<ul>
    <li>with your consent or explicit consent;</li>
    <li>where it is necessary for our legitimate interests (or those of a third party) and your interests and fundamental rights do not override those interests (see the "Legitimate Interests" section below); or</li>
    <li>where we need to comply with a legal or regulatory obligation.</li>
</ul>
<p>If you agree, we will send you periodic emails about the EA Hub’s new features and other information that we think you might be interested in. You can opt out of receiving these emails at any time by clicking the appropriate link in the email itself, or by updating your communication preferences via your account page.</p>
<p>We may use personal information held about you in the following ways:</p>
<ul>
    <li>to reach out to you about potential collaborators or job/project opportunities;</li>
    <li>to ensure that content from our Websites is presented in the most effective manner for you and for your device; or</li>
    <li>to respond to queries you send us.</li>
</ul>
<p>When contacting you for any of the above purposes, we may do so by email, unless you tell us otherwise.</p>
<p>Your data will be treated in accordance with applicable data protection law. We may share your profile information with other EA organisations as described in this policy and only if it is in line with our legitimate interests. We will never sell your profile information.</p>

<h2 id="5-legitimate-interests">5. Legitimate interests</h2>

<p>We may rely on legitimate interests to process your personal information, provided that your interests do not override our own. European data protection law requires us to explain what these interests are.</p>
<p>Where we rely on legitimate interests, these interests are:</p>
<ul>
    <li>to improve our features;</li>
    <li>to keep our records updated and to study how our Websites and other services are used;</li>
    <li>to administer and protect the company and web presence (including troubleshooting, data analysis, testing, system maintenance, support, reporting, and hosting);</li>
    <li>to inform our marketing strategies; and</li>
    <li>to best serve the aims of the EA Hub in the most efficient manner possible.</li>
</ul>

<h2 id="6-keeping-your-personal-information-safe">6. Keeping your personal information safe</h2>

<p>We employ a variety of physical and technical measures to keep your personal information safe and to prevent unauthorised access to, use of, or disclosure of it. We control who has access to your data using both physical and electronic means, some of which are described below. We have a set of detailed data protection procedures which our team members are required to follow when handling personal information.</p>
<p>
Our security measures include:
</p>
<ul>
    <li>sending all information over encrypted channels (SSL/TLS)</li>
    <li>using password hashing algorithms</li>
</ul>
<p>To see our specific security measures, please view our <a href="https://github.com/rtcharity/eahub.org/wiki/Data-Protection-Policy">Data Protection Policy</a></p>
<p>Where we have given you (or where you have chosen) a password which enables you to access certain parts of our Websites, you are responsible for keeping this password confidential. We ask you not to share a password with anyone. We cannot absolutely guarantee the security of the internet, external networks, or your own device; accordingly any online communications (e.g. information provided by email or through our Websites) are at your own risk.</p>

<h2 id="7-storage-and-retention">7. Storage and retention</h2>

<h3>Where we store your personal information</h3>
<p>We store your personal information on secure servers. Our team members have access to this information in accordance with the level of access they need to fulfil their roles.</p>

<h3>How long we keep it</h3>
<p>We collect and store personal information for purposes connected with our business. As such, we will only retain your personal information for as long as necessary for those purposes.</p>
<p>If you apply for a position at EA Hub, and your application is not successful, we will seek consent to keep your personal data (such as your email address, location, and resume) indefinitely for the purpose of future suitable job vacancies. If consent is not given, or withdrawn, we will keep your data for 12 months once the recruitment exercise ends.</p>
<p>We regularly audit the personal information we hold and delete that which is not necessary.</p>

<h2 id="8-disclosing-your-personal-information">8. Disclosing your personal information</h2>

<h3>Newsletter subscriptions</h3>
<p>If you sign up to one of our monthly newsletters, or register for an event we run, we will disclose your name and email address to Mailchimp, a service we use to manage the process of sending mass emails. You can opt out of a mailing list at any time by clicking the appropriate link in any email we send through Mailchimp.</p>

<h3>Other disclosures</h3>
<p>If we choose to sell, transfer, or merge parts of the company or our assets, we may disclose your personal information to the new owners. Alternatively, we may seek to merge with another company. If a change like that happens, then the new owners may use your personal information in the same way as set out in this policy.</p>

<h2 id="9-disclosures-required-by-law">9. Disclosures required by law</h2>

<p>We are subject to the law like everyone else. We may be required to give information to legal authorities if they so request or if they have the proper authorisation, such as a search warrant or court order.</p>
<p>We also may need to retain and disclose certain personal information about you to regulatory authorities and to appropriate agencies to conduct anti-money laundering and trade sanction checks and to assist with fraud prevention. We will disclose this information as is required by law.</p>

<h2 id="10-your-rights">10. Your rights</h2>

<p>We want you to remain in control of your personal information. Part of this is making sure you understand your legal rights, which are as follows:</p>
<ul>
    <li>where your personal information is processed on the basis of consent, the right to withdraw that consent;</li>
    <li>the right to confirmation as to whether or not we are holding any of your personal information and, if we are, to obtain a copy of it;</li>
    <li>the right to have certain data provided to you in a portable electronic format (where technically feasible);</li>
    <li>the right to have inaccurate personal information rectified;</li>
    <li>the right to object to your personal information being used for marketing or profiling, or on the basis of our or a third party’s legitimate interests;</li>
    <li>the right to restrict how your personal information is used; and</li>
    <li>the right to be forgotten, which allows you to have your personal information erased in certain circumstances (though this is not an absolute right and may not apply if we need to continue using it for a lawful reason).</li>
</ul>
<p>If you would like further information about any of your rights or wish to exercise them, please contact us using the details given in Section 1.</p>
<p>Please keep in mind that there are exceptions to the rights above and, though we will always try to respond to your satisfaction, there may be situations where we are unable to do so (for example, because the information no longer exists or there is an exception which applies to your request).</p>
<p>If you feel that your rights have been infringed, you should contact the UK Information Commissioner's Office, which oversees data protection compliance in the UK. Details of how to do this can be found at <a rel="nofollow" target="_blank" href="https://ico.org.uk/"> www.ico.org.uk</a>.</p>

<h2 id="11-updating-this-policy">11. Updating this policy</h2>

<p>We may update this policy at any time. When we do, we will post an update on meta.eahub.org and we will also revise the updated date at the bottom of this page. We encourage users to frequently check this page for any changes to stay informed about how we are helping to protect the personal information we hold.</p>
<p>This policy was last updated on 9th of July 2021.</p>

</div>
{% endblock %}

{% block footer %}
    {% include 'includes/footer.html' %}
{% endblock %}
