{% extends 'base.html' %}

{% load thumbnail %}

{% block content %}

<br><br>

<div class="container animated">
  <div class="row profile-head">
    <div class="col-xs-12 col-md-3">
      {% thumbnail profile.image "200x200" crop="center" as im %}
        <img class="profile_picture" src="{{ im.url }}">
      {% empty %}
        <img class="profile_picture" src="/static/images/avatars/{{ profile.image_placeholder }}">
      {% endthumbnail %}
      {% if not profile.is_public %}
      <div class="privacy-banner hub-info" title="This profile is not public. Click on 'Edit' to change your settings."><i class="fa fa-lock"></i>Private profile</div>
      {% endif %}
    </div>
    <div class="col-xs-12 col-md-6">
      <h1 class="word-break">{{ profile.name }}</h1>
      {% if user.id == profile.user_id %}
      <div class="btn btn-default purple">
        <span><a href="{% url 'edit_profile' %}"><i class="fa fa-pencil"></i> Edit</a></span>
      </div>
      <div class="btn btn-default purple">
        <span><a href="{% url 'account_email' %}"><i class="fa fa-pencil"></i> Change Email Address</a></span>
      </div>
      <div class="btn btn-default purple">
        <span><a href="{% url 'account_change_password' %}"><i class="fa fa-pencil"></i> Change Password</a></span>
      </div>
      {% else %}
      <div class="btn btn-default purple">
        <span><i class="fa fa-microphone-slash"></i> Messaging Available Soon</span>
      </div>
      {% endif %}
    </div>
  </div>
</div>

<br><br>

<div class="container profile-info profile-cards">


    <!-- cause area -->
    <div class="col-md-4">
      <div class="panel panel-default">
        <img style="width: 100px; margin-top: 20px;" src="/static/images/HubHeartBox.png">
        <div class="panel-body">
          <h3>Cause Area</h3>
          {% if profile.has_cause_area_details == False %}N/A{% endif %}
          {% if profile.cause_areas or profile.cause_areas_other %}
          <div class="list"><div class="tag">Cause areas:</div> {{ profile.get_pretty_cause_areas|urlize|linebreaks }}</div>
          {% endif %}
          {% if profile.giving_pledges %}
          <div class="list"><div class="tag">Giving Pledges Taken:</div> {{ profile.get_pretty_giving_pledges }}</div>
          {% endif %}
          {% if profile.available_to_volunteer %}
          <div class="alert alert-success" style="margin-bottom: -10px;">Available to volunteer</div>
          {% endif %}
          {% if user.id == profile.user_id %}
            <br>
            <span class="btn btn-default btn-xs">
              <a href="{% url 'edit_profile_cause_areas' %}"><i class="fa fa-pencil"></i> Edit</a>
            </span>
          {% endif %}
        </div>
      </div>
    </div>

    <!-- career -->
    <div class="col-md-4">
      <div class="panel panel-default">
        <img style="width: 100px; margin-top: 20px;" src="/static/images/BriefcaseHub.png">
        <div class="panel-body">
          <h3>Career</h3>

          {% if profile.has_career_details == False %}N/A{% endif %}

          {% if profile.expertise_areas or profile.expertise_areas_other %}
          <div class="list"><div class="tag">Areas of expertise:</div> {{ profile.get_pretty_expertise|urlize|linebreaks }}</div>
          {% endif %}
          {% if profile.open_to_job_offers %}
            <br>
            <div class="alert alert-success" style="margin-bottom: -10px;">Open to job offers</div>
          {% endif %}
          {% if user.id == profile.user_id %}
            <br>
            <span class="btn btn-default btn-xs">
              <a href="{% url 'edit_profile_career' %}"><i class="fa fa-pencil"></i> Edit</a>
            </span>
          {% endif %}
        </div>
      </div>
    </div>

    <!-- community -->
    <div class="col-md-4">
      <div class="panel panel-default">
        <img style="width: 100px; margin-top: 20px;" src="/static/images/home/ea_profiles.png">
        <div class="panel-body">
          <h3>Community</h3>

          {% if profile.has_community_details == False %}N/A{% endif %}

          {% if profile.organisational_affiliations %}
          <div class="list"><div class="tag">Organisational affiliations:</div> {{ profile.get_pretty_organisational_affiliations }}</div>
          {% endif %}
          {% if profile.local_groups.exists %}
          <div class="list turquoise-links">
            <div class="tag" style="display: block">Local group membership:</div>
            {% if profile.local_groups.all.count == 1 %}
              <a href="{% url 'group' profile.local_groups.first.slug %}">
                {{profile.local_groups.first.name}}
              </a>
            {% else %}
              {% for group in profile.local_groups.all %}
                <a class="list-item" href="{% url 'group' group.slug %}">{{group.name}}</a>
              {% endfor%}
            {% endif %}
          </div>
          {% endif %}

          {% if profile.user.localgroup_set.exists %}
          <div class="list turquoise-links">
            <div class="tag">Local organiser of:</div>
            {% if profile.user.localgroup_set.all.count == 1 %}
              <a href="{% url 'group' profile.user.localgroup_set.first.slug %}">
                {{profile.user.localgroup_set.first.name}}
              </a>
            {% else %}
              {% for group in profile.user.localgroup_set.all %}
                <a class="list-item" href="{% url 'group' group.slug %}">{{group.name}}</a>
              {% endfor%}
            {% endif %}
          </div>
          {% endif %}

          {% if profile.topics_i_speak_about %}
          <div class="list"><div class="tag">Topics I speak about:</div> {{ profile.topics_i_speak_about|urlize|linebreaks }}</div>
          {% endif %}
          {% if profile.available_as_speaker %}
          <div class="alert alert-success" style="margin-bottom: -10px;">Available as speaker</div>
          {% endif %}
          <br>

          {% if user.id == profile.user_id %}
            <span class="btn btn-default btn-xs">
              <a href="{% url 'edit_profile_community' %}"><i class="fa fa-pencil"></i> Edit</a>
            </span>
          {% endif %}
        </div>
      </div>
    </div>
  </div>



  <div class="container profile-info">

      <div class="col-md-6 key-facts">
        <div class="panel panel-default summary">
          <div class="panel-heading">
            <h3 class="panel-title">Summary</h3>
          </div>
          <div class="panel-body">
            {{ profile.summary|default:'N/A'|urlize|linebreaks }}
            {% if user.id == profile.user_id %}
              <br>
              <span class="btn btn-default btn-xs">
                <a href="{% url 'edit_profile' %}"><i class="fa fa-pencil"></i> Edit</a>
              </span>
            {% endif %}
          </div>
        </div>
      </div>
      <div class="col-md-6">
          {% include 'eahub/maps/profile_page_map.html' with lat=profile.lat lon=profile.lon %}
      </div>

  </div>

  <br>
  {% if user.id == profile.user_id %}
<div class="text-center">
  <div class="btn-group btn-group-sm text-center" role="group">
      <a href="{% url 'download_profile' %}"><button type="button" class="btn btn-default"><i class="fa fa-download"></i> Download My Profile Data</button></a>
      <a href="{% url 'delete_profile' %}"><button type="button" class="btn btn-default"><i class="fa fa-trash"></i> Delete My Profile</button></a>
  </div>
</div>
  {% endif %}


{% endblock %}
