{% extends 'base.html' %}

{% load static sekizai_tags %}

{% load thumbnail %}

{% block title %}Talent Search{% endblock %}

{% block content %}

{% addtoblock 'js' %}
  {% if settings.DJANGO_ENV.value == 'local' %}
    <script defer src="{{ settings.WEBPACK_DEV_URL }}/component_tables.bundle.js"></script>
  {% else %}
    <script defer src="{% static 'dist/component_tables.js' %}"></script>
  {% endif %}
{% endaddtoblock %}

<br><br>

<div class="container animated fadeIn">
  <div class="search">
     Search: <input type="text" id="filterbox">
  </div>
  <table id="datatable-talentsearch" class="table enable-datatable table-striped table-bordered dataTable">
    <thead>
      <tr id="datatable-talentsearch-headers">
        <th data-name="image" class="picture-column"></th>
        <th data-name="name">Name</th>
        {% if include_summary %}<th data-name="summary">Summary</th>{% endif %}
        {% if include_topics_i_speak_about %}<th data-name="topics_i_speak_about">Topics I Speak About</th>{% endif %}
        <th data-name="expertise_areas">Areas of Expertise</th>
        <th data-name="cause_areas">Cause Areas</th>
        <th data-name="city_or_town">City/Town</th>
        <th data-name="country">Country</th>
      </tr>
    </thead>
    <tbody>
      {% for profile in profiles %}
        <tr>
          {% thumbnail profile.image "200x200" crop="center" as im %}
            <td><img class="profile_picture" src="{{ im.url }}"></td>
          {% empty %}
            <td><img class="profile_picture" src="/static/global/images/avatars/{{ profile.image_placeholder }}"></td>
          {% endthumbnail %}
          <td>
            <a href="{% url 'profile' profile.slug %}">{{ profile.name }}</a>
            {% if not profile.is_public %}
            <span class="privacy-banner hub-info"><i class="fa fa-lock"></i>Private profile</span>
            {% elif not profile.is_approved %}
            <span class="privacy-banner hub-info"><i class="fa fa-lock"></i>Awaiting approval</span>
            {% endif %}
          </td>
          {% if include_summary %}
            <td class="text-muted">
              {{ profile.summary|default:'' }}
            </td>
          {% endif %}
          {% if include_topics_i_speak_about %}
            <td class="text-muted">
              {{ profile.topics_i_speak_about|default:'' }}
            </td>
          {% endif %}
          <td class="text-muted">
            {{ profile.expertise_pretty|default:'' }}
          </td>
          <td class="text-muted">
            {{ profile.cause_areas_pretty|default:'' }}
          </td>
          <td class="text-muted">
            {{ profile.city_or_town|default:'' }}
          </td>
          <td class="text-muted">
            {{ profile.country|default:'' }}
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

{% endblock %}
