@import '../bootstrap-variables';


.password-reset-form {
    min-height: 50vh;
    margin-top: 10rem;
    margin-bottom: 10rem;
    
    h1 {
        margin-bottom: 2rem;
    }
    
    .form-control {
        padding: 0.5rem;
        border-top: none;
        border-left: none;
        border-right: none;
    }
    
    .form-floating {
        $floating-label-size: 0.8rem;
        $floating-label-color: $gray-700;
        label {
            font-size: $floating-label-size;
            color: $gray-600;
        }
        .form-control {
            border-top: none;
            border-left: none;
            border-right: none;
            padding-left: 0.85rem;
            padding-right: 0.85rem;
            margin-bottom: 1.5rem;
            
            &:focus {
                box-shadow: 0 0 0 $input-btn-focus-width rgba($color-secondary, $input-btn-focus-color-opacity);
                border-bottom-color: white;
                
            }
            &:-webkit-autofill,
            &:-webkit-autofill:hover,
            &:-webkit-autofill:focus,
            &:-webkit-autofill:active {
                -webkit-box-shadow: 0 0 0 30px white inset !important;
            }
            &:-webkit-autofill ~ label {
                font-size: $floating-label-size;
                color: $floating-label-color;
            }
            &:placeholder-shown ~ label {
                font-size: 1.2rem;
                @include media-breakpoint-down(lg) {
                    font-size: 1.1rem;
                }
            }
            &:focus ~ label {
                font-size: $floating-label-size;
                color: $floating-label-color;
            }
        }
    }
    .btn {
        margin-top: 2rem;
    }
}
