@import '../bootstrap-variables';


.account-floating-form {
    min-height: 50vh;
    margin-top: 8rem;
    margin-bottom: 8rem;
    max-width: 500px;
    justify-content: center;
    display: flex;
    flex-direction: column;

    h1 {
        margin-bottom: 2rem;
        text-align: center;
    }
    
    .form-control {
        padding: 0.5rem;
        border-top: none;
        border-left: none;
        border-right: none;
    }
    
    .form-floating {
        $floating-label-size: 0.8rem;
        $floating-label-color: $gray-700;
        label {
            font-size: $floating-label-size;
            color: $gray-600;
        }
        .form-control {
            border-top: none;
            border-left: none;
            border-right: none;
            padding-left: 0.85rem;
            padding-right: 0.85rem;
            margin-bottom: 1.5rem;
            
            &:focus {
                box-shadow: 0 0 0 $input-btn-focus-width rgba($color-secondary, $input-btn-focus-color-opacity);
                border-bottom-color: white;
                
            }
            &:-webkit-autofill,
            &:-webkit-autofill:hover,
            &:-webkit-autofill:focus,
            &:-webkit-autofill:active {
                -webkit-box-shadow: 0 0 0 30px white inset !important;
            }
            &:-webkit-autofill ~ label {
                font-size: $floating-label-size;
                color: $floating-label-color;
            }
            &:placeholder-shown ~ label {
                font-size: 1.2rem;
                @include media-breakpoint-down(lg) {
                    font-size: 1.1rem;
                }
            }
            &:focus ~ label {
                font-size: $floating-label-size;
                color: $floating-label-color;
            }
        }
    }
    .additional-links {
        display: flex;
        justify-content: flex-end;
        margin-top: 1rem;
        a {
            color: $color-secondary;
            text-decoration: none;
        }
    }
    .btn {
        display: flex;
        margin: auto;
        text-align: center;
        justify-content: center;
        $padding: 0.7rem;
        font-size: 1.3rem;
        padding: $padding 3rem;
        margin-top: 2rem;
    }
}
.error {
    color: #ff922f;
    margin-left: 0.2rem;
}