@import 'eahub/base/static/global/styles/bootstrap-variables';


html {
    scroll-padding-top: $toolbar-height;
    padding-top: $toolbar-height;
    height: 100%;
    
    background: linear-gradient(0deg, #635274 75%, white 20%);
}
