@import '../bootstrap-variables';

.home {

    .home__intro {
        margin-top: 6.5rem;
        margin-bottom: 4rem;
        
        h1 {
            font-size: 3.8rem;
            
            @include media-breakpoint-down(xxl) {
                font-size: 3.5rem;
            }
            @include media-breakpoint-down(xl) {
                font-size: 3rem;
            }
            @include media-breakpoint-down(lg) {
                margin-top: 3rem;
            }
        }
        .home__subtitle {
            margin-top: 2rem;
            font-size: 1.5rem;
            
            @include media-breakpoint-down(xxl) {
                font-size: 1.3rem;
            }
            @include media-breakpoint-down(xl) {
                margin-top: 1.6rem;
                font-size: 1.2rem;
            }
        }
        .btn-primary {
            margin-top: 2rem;
            font-size: 1.25rem;
            padding: 0.8rem 1.8rem;
            color: white;
            
            @include media-breakpoint-down(xxl) {
                font-size: 1.1rem;
            }
            @include media-breakpoint-down(xl) {
                margin-top: 1.6rem;
                padding: 0.6rem 1.6rem;
                font-size: 1.05rem;
            }
        }
        .home__map {
            margin-bottom: 8rem;
            max-width: 900px;
            width: 100%;
            
            @include media-breakpoint-down(lg) {
                margin-bottom: 0;
            }
        }
    }
    .home__hero {
        margin-top: 12.5rem;
        margin-bottom: 13rem;
        position: relative;
        
        &[data-image-pos=right] {
            .hero__img {
                right: 0;
            }
            .hero__text {
            }
        }
        
        @include media-breakpoint-down(lg) {
            margin-top: 15rem;
            margin-bottom: 50rem;
        }
        
        .hero__img {
            position: absolute;
            margin-left: 0;
            background-size: cover;
            background-position: 0 -1px;
            width: 63%;
            height: 623px;
            z-index: 0;
            
            @include media-breakpoint-down(lg) {
                width: 100%;
                left: 0;
                right: 0;
            }
            
            &::before {
                content: '';
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                background: linear-gradient(90deg, #0c7eab 0%, $color-primary 100%);
                opacity: 0.4;
            }
            &::after {
                content: '';
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                background: linear-gradient(90deg, #0c7eab 0%, $color-primary 100%);
                mix-blend-mode: soft-light;
                opacity: 0.25;
            }
        }
        .hero__text-wrap {
            padding: 10rem 0;
            
            @include media-breakpoint-down(lg) {
                padding: 0;
                .row {
                    justify-content: center;
                    .hero__text {
                        margin-top: -150px;
                    }
                }
            }
            .hero__text {
                display: flex;
                align-self: start;
                flex-direction: column;
                height: fit-content;
                max-width: 500px;
                $padding: 3.4rem;
                padding: $padding - 0.3rem;
                padding-top: 3rem;
                color: white;
                background: $color-primary;
                z-index: 1;
        
                .hero__title {
                    margin-bottom: 0;
                }
                p {
                    font-size: 1rem;
                    margin-top: 1.8rem;
                    margin-bottom: 0;
                }
                .btn {
                    margin-top: 1.8rem;
                    width: fit-content;
                    color: white;
                    border-color: white;
                    &:hover {
                        background: white;
                        color: $color-primary;
                    }
                }
            }
        }
    }
    
    .join-community {
        $margin: 4rem;
        
        .join__title {
            display: flex;
            justify-content: center;
            font-size: 2.5rem;
            margin-bottom: $margin;
        }
        .join__form {
            padding-left: $margin;
            $margin-bottom: 2rem;
            $max-width: 400px;
            
            .nav-tabs {
                max-width: $max-width;
                margin-bottom: $margin-bottom;
        
                .nav-link {
                    font-size: 1.4rem;
                }
            }
            .tab-content {
                max-width: $max-width;
                
                form {
                    display: flex;
                    flex-direction: column;
                    
                    .form-control {
                        border-top: none;
                        border-left: none;
                        border-right: none;
                        margin-bottom: $margin-bottom;
                    }
                    .btn {
                        display: flex;
                        align-self: center;
                        min-width: 100px;
                    }
                }
            }
        }
        
        #homepage-map {
            margin-bottom: 6rem;
        
            .map_homepage {
                width: 100%;
                height: 500px;
            }
        }
    }
}
