@import '../bootstrap-variables';

.home {

    .home__intro {
        margin-top: 4rem;
        margin-bottom: 4rem;
        
        h1 {
            font-size: 3.8rem;
            @include media-breakpoint-down(xxl) {
                font-size: 3.5rem;
            }
            @include media-breakpoint-down(xl) {
                font-size: 3rem;
            }
            @include media-breakpoint-down(lg) {
                margin-top: 3rem;
            }
        }
        .home__subtitle {
            margin-top: 2rem;
            font-size: 1.5rem;
            @include media-breakpoint-down(xxl) {
                font-size: 1.3rem;
            }
            @include media-breakpoint-down(xl) {
                margin-top: 1.6rem;
                font-size: 1.2rem;
            }
        }
        .btn-primary {
            margin-top: 2rem;
            font-size: 1.25rem;
            color: white;
            @include media-breakpoint-down(xxl) {
                font-size: 1.1rem;
            }
            @include media-breakpoint-down(xl) {
                margin-top: 1.6rem;
                padding: 0.6rem 1.6rem;
                font-size: 1.05rem;
            }
        }
        .home__map {
            margin-bottom: 8rem;
            max-width: 100%;
            @include media-breakpoint-down(lg) {
                margin-bottom: 0;
            }
        }
    }
    .home__profiles {
        padding: 10rem 0;
        
        .profiles__img {
            position: absolute;
            background-position: 0 -1px;
            background-size: cover;
            margin-left: $grid-gutter-width-half;
            width: 63%;
            height: 623px;
            z-index: 0;
            
            &::before {
                content: '';
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                background: linear-gradient(90deg, $color-primary 0%, #0c7eab 100%);
                opacity: 0.4;
            }
            &::after {
                content: '';
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                background: linear-gradient(90deg, $color-primary 0%, #0c7eab 100%);
                mix-blend-mode: soft-light;
                opacity: 0.25;
            }
        }
        .profiles__intro {
            display: flex;
            align-self: start;
            flex-direction: column;
            background: $color-primary;
            height: fit-content;
            max-width: 400px;
            padding: 2.7rem;
            padding-top: 2.6rem;
            color: white;
            z-index: 1;
            
            .profiles__title {
                margin-bottom: 0;
            }
            p {
                font-size: 1rem;
                margin-top: 1.8rem;
                margin-bottom: 0;
            }
            .btn {
                margin-top: 1.8rem;
                width: fit-content;
                color: white;
                border-color: white;
                &:hover {
                    background: white;
                    color: $color-primary;
                }
            }
        }
    }
}
