@import 'eahub/base/static/global/styles/bootstrap-variables';

.profile-edit {
    @include media-breakpoint-up(xxl) {
        max-width: 1140px;
    }
    .form-group {
        margin-bottom: 1.5rem;
        
        .control-label {
            margin-bottom: 0.5rem;
        }
    }
}

.profile-edit-tags {
    position: relative;

    .ais-RefinementList,
    .ais-InfiniteHits-loadMore,
    .ais-SearchBox-reset,
    .ais-SearchBox-submit {
        display: none;
    }
    
    .selected {
        display: none;
    }
    
    %tag {
        display: inline-flex;
        align-items: center;
        padding: 0.2rem 0.4rem;
        margin: 0.4rem;
        margin-right: 0;
        background: #ddefec94;
        color: #0b5046;
        white-space: nowrap;
    }
    
    .tags__input-container {
        display: flex;
        flex-wrap: wrap;
        position: relative;
        z-index: 2;
        min-height: 43px;
        border: 1px solid $gray-500;
    
        .tags__selected {
            display: flex;
            flex-wrap: wrap;
            
            .tags__tag {
                @extend %tag;
                
                .btn-close {
                    margin-left: 0.2rem;
                    background-size: 0.7em;
    
                    &:hover {
                        cursor: pointer;
                    }
                }
            }
        }
        .ais-SearchBox {
            display: inline-flex;
            flex-grow: 2;
            min-height: 40px;
            
            .ais-SearchBox-form {
                display: flex;
                width: 100%;
                
                input {
                    width: 100%;
                    border: 0;
                    margin-left: 0.4rem;
                    
                    &:focus {
                        outline: none;
                    }
                }
            }
        }
    }
    .tags__result-box-background {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        z-index: 0;
    }
    .ais-StateResults {
        position: absolute;
        width: 100%;
        margin-bottom: 1.5rem;
        padding-left: 0.5rem;
        padding-right: 0.5rem;
        padding-bottom: 0.5rem;
        box-shadow: 0 0 7px #00000014;
        border: 1px solid #e2e2e2;
        border-radius: 4px;
        background: white;
        z-index: 3;
        
        .tag {
            margin-top: 0.5rem;
            margin-bottom: 0.5rem;
    
            .tag__name {
                @extend %tag;

                &:hover {
                    cursor: pointer;
                    background: #b0dcd594;
                }
            }
            .tag__count {
                margin-left: 0.4rem;
                color: $gray-600;
                font-size: 0.7rem;
            }
            .tag__desc,
            .tag__synonyms {
                margin-top: 0.2rem;
                padding-left: 0.8rem;
                font-size: 0.8rem;
            }
        }
    }
}
