<div class="profile-edit-tags form-group">

  <ais-instant-search
      :search-client="searchClient"
      :index-name="algoliaIndex"
  >
    <label class="control-label">{{ typeLabel }}</label>
    
    <div class="tags__input-container">
      <div class="tags__selected">
        <div
          class="tags__tag"
          v-for="tag of tagsSelected"
        >
          {{ tag.name }}
          <button
              type="button"
              class="btn-close"
              aria-label="Close"
              v-if="!tag.isLoading"
              v-on:click="remove(tag.pk)"
          ></button>
          <div v-if="tag.isLoading" class="spinner-border" role="status">
            <span class="visually-hidden">Loading...</span>
          </div>
        </div>
      </div>
      <ais-search-box
          v-model="searchQuery"
          v-on:input="processTagSearchInput($event)"
          :placeholder="'Find or create tags with a comma...'"
          @focus="showResultsPopup()"
      />
    </div>

    <ais-refinement-list
        attribute="types"
        ref="typesRef"
    />
    <ais-configure :hits-per-page.camel="6"/>

    <div class="tags__result-box-background"
      v-show="isShowResultsPopup"
      @click="isShowResultsPopup = false"
    ></div>

    <ais-state-results
      v-show="isShowResultsPopup"
    >
      <div>
        <div class="tags__intro">
          <span>Always try to find an existing tag instead of creating a new one.</span>
        </div>

        <ais-infinite-hits>
          <div
            :class="`row row-cols-1 row-cols-xl-2 row-cols-xxl-${searchResultsCols || 3}`"
            slot-scope="{ items }" v-show="items">
            <div class="col tag"
                v-for="item of items"
                :key="item.objectID"
                :class="{selected: isSelected(item.objectID)}"
                v-on:click="add(item)"
            >
              <div class="tag__name">
                <ais-highlight :hit="item" attribute="name"/> 
              </div>
              <span class="tag__count" v-if="item.count">{{item.count}}</span>
              <div class="tag__desc" v-if="item.description">
                <ais-highlight :hit="item" attribute="description"/>
              </div>
              <div class="tag__synonyms" v-if="item.synonyms">
                <span class="fst-italic">Also:</span>
                <ais-highlight :hit="item" attribute="synonyms"/>
              </div>
            </div>
          </div>
        </ais-infinite-hits>
      </div>
    </ais-state-results>
  </ais-instant-search>
</div>
