{% extends 'form.html' %}

{% block title %}Delete Profile{% endblock %}

{% block form_fields %}

<p>Before deleting your account, please note that if you delete your account, we cannot recover it.</p>

<p>For privacy reasons, we do not keep copies of any data that you've actively removed from the hub platform. For this reason, please be absolutely sure it’s what you want to do before confirming the deletion of your account.</p>

{% endblock %}

<br>

{% block submit %}I am sure, permanently delete my account{% endblock %}
