{% extends 'form.html' %}

{% block title %}Login{% endblock %}

{% block form_fields %}
<div class="field">
  <label for="id_username">Email address</label>
  <input type="username" name="username" id="id_username" class="form-control" placeholder="email" required autofocus>
  {% if form.username.errors %}
    {% for error in form.username.errors %}
      <div class="alert alert-danger">{{ error }}</div>
    {% endfor %}
  {% endif %}
</div>
<div class="field">
  <label for="id_password">Password</label>
  <input type="password" name="password" id="id_password" class="form-control" placeholder="password" required>
  {% if form.password.errors %}
    {% for error in form.password.errors %}
      <div class="alert alert-danger">{{ error }}</div>
    {% endfor %}
  {% endif %}
</div>
<div class="field">
  {% if form.non_field_errors %}
    {% for error in form.non_field_errors %}
        <div class="alert alert-danger login-danger">{{ error }}</div>
    {% endfor %}
  {% endif %}
</div>
<button type="submit" class="btn btn-default">Log in</button>
{% endblock %}


{% block content_after_form %}
<div class="panel animated pulse">
  <div class="alert alert-info login-info">
      <h2>Login not working?</h2>
      <p>We have recently upgraded eahub.org to a new platform. As we prioritize the secure storage of your data, it is impossible to automatically transfer your old password to the new website; please reset it now.</p>
      <br>
      <p><a href="{% url 'password_reset' %}"><i class="fa fa-envelope"></i> Send me a password reset email</a></p>
  </div>
</div>
{% endblock %}
