{% extends 'form.html' %}

{% block title %}Sign Up{% endblock %}

{% load crispy_forms_tags %}

{% block form_fields %}

 {{ form|crispy}}

<div class="field">
  <div class="g-recaptcha" data-sitekey="{{ recaptcha_site_key }}"></div>
  {% if 'captcha_error' in request.GET %}
    <div class="alert alert-danger login-danger" style="max-width: 304px;">Captcha error</div>
  {% endif %}
</div>
{% endblock %}

{% block submit%}Sign up{% endblock%}

{% block form_privacy_note %}

<div class="privacy-note">
  <b>Note:</b> Once you have signed up, your name will be public on the Hub.
  Read more about our <a href="{% url 'privacyPolicy' %}">privacy policy</a>.
</div>

{% endblock %}
