django==2.2
gunicorn==19.9.0
psycopg2-binary==2.7.6.1
pytz==2018.9
whitenoise[brotli]==4.1.2
requests==2.21.0
ipdb==0.11
geographiclib==1.49
geopy==1.18.1
git+git://github.com/rtcharity/django-environ@develop#egg=django-environ
git+git://github.com/rtcharity/django-storages@master#egg=django-storages[azure]
django-redis==4.10.0
hiredis==1.0.0
Pillow==5.4.1
sorl-thumbnail==12.5.0
django-cleanup==3.0.1
django-upload-path==0.1.1
airtable-python-wrapper==0.11.3.post1
applicationinsights==0.11.7
django-authtools==1.6.0
django-autoslug==1.9.4
django-enumfield==1.5
django-crispy-forms>=1.7.2
rules==2.0.1
pytils==0.3
mysqlclient==1.4.2.post1
django-sluggable==0.6.1
django-allauth==0.39.1
django-recaptcha==2.0.2
