<head>
  <link rel="stylesheet" href="/static/styles/features.css"
</head>

<br><br>

<div class="features">
  <div class="feature">
    <a class="features_links" href="{% url 'profiles' %}" title="Learn about EAs around the world, and connect with them">
      <img class="features_links_img" src="/static/images/home/ea_profiles.png" />
      <div class="features_links_text">EA Profiles</div>
    </a>
  </div>
  <div class="feature">
    <a class="features_links" href="{% url 'groups' %}" title="Learn about EA groups around the world">
      <img class="features_links_img" src="/static/images/home/ea_groups.png" />
      <div class="features_links_text">EA Groups</div>
    </a>
  </div>
  <div class="feature">
    <a class="features_links" href="https://forum.effectivealtruism.org/" title="Talk to EAs through different online channels">
      <img class="features_links_img" src="/static/images/home/community_discussion.png" />
      <div class="features_links_text">Community & Discussion</div>
    </a>
  </div>
  <div class="feature">
    <a class="features_links" href="https://resources.eahub.org/" title="Find guides, tips, research and reflections on EA movement building">
      <img class="features_links_img" src="/static/images/home/ea_resources.png" />
      <div class="features_links_text">EA Resources</div>
    </a>
  </div>
  <div class="feature">
    <a class="features_links" href="https://donationswap.eahub.org/" title="Pay less tax on your charitable donations by teaming up with EAs around the world">
      <img class="features_links_img" src="/static/images/home/ea_donation_swap.png" />
      <div class="features_links_text">EA Donation Swap</div>
    </a>
  </div>
  <div class="feature">
    <a class="features_links" target="_blank" href="http://www.eawork.club/" title="Find or advertise opportunities to volunteer and work in EA">
      <img class="features_links_img" src="/static/images/home/ea_work_club.png" />
      <div class="features_links_text">EA Work & Volunteering</div>
    </a>
  </div>
  <div class="feature">
    <a class="features_links" target="_blank" href="http://priority.wiki/" title="Find and contribute to the latest research on high impact cause areas">
      <img class="features_links_img" src="/static/images/home/ea_priorities_wiki.png" />
      <div class="features_links_text">EA Priorities Wiki</div>
    </a>
  </div>
  <!-- <div class="feature">
    <a class="features_links" href="https://forum.effectivealtruism.org/posts/LG6gwxhrw48Dvteej/concrete-project-lists">
      <img class="features_links_img" src="/static/images/resources.png" />
      <div class="features_links_text">EA Projects</div>
    </a>
  </div> -->

  <!-- <div class="feature">
    <a class="features_links" href="https://forum.effectivealtruism.org/posts/S2Sonawxz2cY4YdXK/ea-survey-2018-series-community-demographics-and/">
      <img class="features_links_img" src="/static/images/resources.png" />
      <div class="features_links_text">EA Survey</div>
    </a>
  </div> -->

</div>
