.caption {
  color: white;
  text-align: center;
  margin-top: 30px;
}

.drop_down {
  width: 100%
}

.drop_down_link {
  color: black;
  font-size: 16px;
  padding: 0px 15px 0px 10px !important;
  font-weight: 500;
  text-decoration: none;
  opacity: 0.9;
  display: block;
}

.drop_down_links {
  background-color: rgba(220,220,220,0.7); /*light-grey*/
  margin-top: 10px;
  margin-right: 40px;
  padding: 3px 10px 3px 3px;
  text-align: right;
  visibility: hidden;
}

.faces {
  width: 100%;
}

.header {
  background-image: url("/static/imgs/LandingBanner.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: block;
  height: 300px;
  margin-bottom: 10px;
}

#logo{
  height: 30px;
}

.logo_container {
  display: inline-block;
  margin-left: 20px;
}

.menu_bar {
  width: 25px;
  height: 3px;
  background-color: white;
  margin: 6px 0;
}

.menu_burger {
  cursor: pointer;
  float: right;
  margin: 22px 40px 0 0;
}

@media(max-width: 768px) {
  .caption {
    font-size: 26px;
    margin-top: 20px;
    padding-left: 10px;
    padding-right: 10px;
  }

  .drop_down_links {
    margin-right: 25px;
  }

  .menu_burger {
    margin-right: 25px;
  }
}
