.caption {
  color: white;
  text-align: center;
  margin-top: 160px;
}

.drop_down {
  width: 100%
}

.drop_down_link {
  color: black;
  font-size: 16px;
  padding: 0px 15px 0px 10px !important;
  font-weight: 500;
  text-decoration: none;
  opacity: 0.9;
  display: block;
}

.faces {
  width: 100%;
}

.header_large {
  background-image: url("/static/images/LandingBanner_short.png");
  background-position: center 0px;
  background-repeat: repeat;
  background-size: 1400px;
  display: block;
  height: 260px;
  margin-bottom: 10px;
}

.header_small {
  background-color: #7BB0A8; /* EAHub Banner green */
  background-size: cover;
  display: block;
  height: 60px;
  margin-bottom: 10px;
}

#logo{
  height: 30px;
  margin-top: -7px;
}

.logo_container {
  display: inline-block;
  margin-left: 20px;
}

.menu_bar {
  width: 25px;
  height: 3px;
  background-color: white;
  margin: 6px 0;
}

.menu_burger {
  display: none;
}

@media(max-width: 768px) {
  .caption {
    font-size: 20px;
    margin-top: 100px;
    padding-left: 10px;
    padding-right: 10px;
  }

  .drop_down_links {
    background-color: rgba(220,220,220,0.7); /*light-grey*/
    margin-right: 5px;
    margin-top: 10px;
    position: absolute;
    right: 0px;
    visibility: hidden;
  }

  .drop_down_links li {
    float: none !important;
  }

  .header_large {
    background-image: url("/static/images/LandingBanner.png");
    background-position: center 5px;
    background-size: cover;
    height: 220px;
  }

  .menu_burger {
    display: block;
    margin-right: 25px;
    margin-top: 13px;
    cursor: pointer;
    float: right;
  }
}

@media(min-width: 768px) {
  .drop_down_links {
    margin-top: -40px;
    margin-right: 0px;
    padding: 3px 10px 3px 3px;
    text-align: right;
    visibility: visible !important;
    z-index: 1;
  }

  .drop_down_links li {
    float: left !important;
  }
}
