.btn{
    margin-right: 10px;
}

h1{
    font-size: 2em;
    margin-bottom: 20px;
}

.jumbotron{
    padding-bottom: 30px;
}

.map-container {
  margin-top: 100px;
}

.thumbnail{
    margin-bottom: 0;
}

.thumbnail img{
    margin-top: 20px;
    height: 100px;
    border-radius: 20px;
}

.thumbnail h3{
    font-size: 1.2em;
}

.title {
  text-align: center;
}
