html {
  position: relative;
  min-height: 100%;
}
body {
  margin-bottom: 60px;
  padding-top: 50px;
  padding-bottom: 20px;
  font-family: "Open Sans";
}

/* info */
.info a {
  color: #7bb0a8;
  text-decoration: none;
}
.info a:hover {
  opacity: 0.7;
}

.info h1, h3 {
  text-align: left;
  color: #512B52;
}

.info .col-md-6, .col-xs-12 {
  text-align: center;
}

.info button {
  border: none;
  font-size: 18px;
  height: 70px;
  margin-bottom: 40px;
  margin-top: 20px;
  padding: 4px 4px 4px 4px;
  text-decoration: none;
  width: 150px;
}

.info button:hover {
  opacity: 0.7;
}

.info button a {
  color: white;
}

.tech-btn {
  background-color: #A7DBAB;
  line-height: 60px;
}

.suggestions-btn {
  background-color: #635274;
  line-height: 30px;
}

/* bootstrap sticky footer */
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  background-color: #512B52;
  color: #fff;
  padding: 10px;
}
.footer a{
  color: #fff;
  text-decoration: underline;
}
.footer a:hover{
  opacity: 0.7;
}

/* container */
.container{
  max-width: 900px;
}

.error h1 {
  color: #512B52;
  margin-bottom: 30px;
  text-align: center;
}

/* nav */
.navbar h4 {
  color: white;
  display: inline-block;
  font-size: 22px;
  margin-top: 12px;
  padding-left: 5px;
}
.navbar img {
  width: 100px;
  height: auto;
  margin-bottom: 8px;
}
.navbar li {
  float: none;
}
.navbar li:hover{
  transform: scale(1.1);
  font-weight: 500;
}
.navbar li a {
  padding: 5px 15px 5px 0px;
  color: white;
  text-decoration: none;
}
.navbar .container {
  z-index: 20;
}
.navbar .logo {
  margin-top: 12px;
}
.navbar .logo_full {
  margin-top: 8px;
  width: 220px
}
.navbar .logo_with_page_name {
  margin-top: 0px;
}

.navbar-header {
  background-color: #7bb0a8;
  float: none;
}
.navbar-inverse {
  background-color: transparent;
}
.navbar-inverse .navbar-nav > li > a{
  color: #fff;
}
.navbar-inverse{
  border: none;
}

.navbar-menu {
  background-color: rgba(81, 43, 82, 0.9);
  border-radius: 5px;
  display: none;
  float: right;
  margin-right: 25px;
  padding-left: 20px;
  padding-right: 5px;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
}

.navbar-menu a {
  margin-right: -5px;
}

.navbar-menu ul {
  margin-left: 10px;
}

.navbar-nav {
  display: inline-block;
  float: none!important;
  margin-right: 0px !important;
  margin-top: 7.5px;
  text-align: right;
  width: 100%;
}
.navbar-nav li a {
  padding-right: 25px;
}
.navbar-toggle {
  border: none;
  display: inline-block;
  float: right !important;
  margin-top: 10px;
}

.navbar-right {
  float: none !important;
}
.navbar-signup-md {
  display: inline-block;
  float: right;
  margin-right: 0px;
  margin-top: 17px;
}
.navbar-signup-md li {
  display: inline-block;
}

.navbar-signup-xs {
  display: none !important;
}

#burger-btn:hover {
  background-color: #d6d2d2;
}

/* jumbotron */
.jumbotron{
  background-color: #7bb0a8;
  color: #fff;
  padding-top: 0;
  padding-bottom: 0;
}
.jumbotron img{
  width: 100%;
  margin-top: 20px;
  margin-bottom: 0;
}
.jumbotron h2{
  margin-top: 30px;
  margin-bottom: 30px;
}

/* thumbnail */
.thumbnail{
  border: none;
  text-align: center;
  color: #635274;
}
.thumbnail img{
  width: 100px;
}
.thumbnail h3{
  margin: 20px;
}
.thumbnail:hover{
  text-decoration: none;
  color: #7bb0a8;
  transform: scale(1.1);
}

/* features */
.features h4 {
  font-weight: bold;
}

/* map */
#map {
  border-radius: 5px;
}
.map_homepage {
  height: 500px;
}
.map_list_page {
  height: 300px;
}
#map_selector{
  padding: 10px;
}
#map_selector input{
  margin: 5px;
}
#profile_page_map {
  height: 475px;
  position: relative;
  overflow: hidden;
  border-radius: 5px;
}
#profile_page_map:hover {
  opacity: 0.7;
}
#profile_page_map.map_placeholder{
  opacity: 0.1;
  background-color: black;
  color:white;
  text-align: center;
  padding-top: 180px;
}
#list_page_map {
  height: 300px;
  position: relative;
  overflow: hidden;
  border-radius: 5px;
}
#list_page_map:hover {
  opacity: 0.7;
}

/* link_box */
.link_box{
  background-color: #f7f6f6;
  border-radius: 5px;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-clip: content-box;
}
.link_box .list-group{
  width: 200px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.link_box .list-group-item{
  background-color: #512B52 !important;
  color: #fff !important;
  border: none;
  font-size: 1.1em;
}
.link_box .list-group-item:hover{
  transform: scale(1.1);
}
.link_box .list-group-item .fa{
  margin-right: 10px;
}

/* profile and group */

.profile_picture{
  width: 100%;
  max-width: 200px;
  height: auto;
  text-align: right;
}

.table img{
  width: 50px;
}

.profile-head .col-xs-12 {
  text-align: center;
}

.profile-info .btn-xs {
  margin-top: 5px;
}
.profile-info a {
  color: black;
}

.profile-info a:hover {
  text-decoration: none;
}

.profile-info .light-grey {
  background-color: #F2F2F2 !important;
}

.profile-info .col-md-4 {
  text-align: center;
}

.profile-info .summary {
  margin-top: 10px;
}

.delete-btn {
  display: block;
  height: 30px;
  margin-left: auto;
  margin-right: auto;
  width: 180px;
}

.delete-btn a {
  color: red;
}

.delete-btn a:hover {
  color: red;
}

.delete-btn h4 {
  margin-top: 2px;
}

.key-facts .background {
  background-color: rgba(81, 43, 82, 0.7);
}

.key-facts .list-group-item {
  background-color: inherit;
  border: none;
  color: white;
}

.key-facts .btn{
  margin-top: -8px;
}

.list-group a {
  color: #7bb0a8;
  text-decoration: none;
}
.list-group a:hover {
  opacity: 0.7;
}
.profile-table h4 {
  padding: 10px 15px;
}
.profile-table li {
  padding: 0;
}
.profile-table p {
  padding: 10px 15px;
  margin: 0;
}
#update-btn {
  display: none;
}

/* password */
.password-reset form {
  margin-bottom: 20px;
}
.password-reset h1 {
  color: #512B52;
  margin-bottom: 30px;
  text-align: center;
}
.password-reset p {
  margin-bottom: 20px;
}

/* lists */
.profiles .col-xs-12 {
  margin-bottom: 5px;
}

/* other */
.purple{
  background-color: #512B52 !important;
  color: #fff;
}
.purple.btn-default:hover{
  background-color: #512B52;
  color: #fff;
  transform: scale(1.1);
}
.purple a{
  color: #fff;
}
.purple a:hover{
  text-decoration: none;
}

.fa-bolt{
  color: gold;
}

.gdpr_img{
  width: 100%;
}
.search {
  font-weight: bold;
  padding-left: 7px;
}
.search input {
  font-weight: normal;
}

table {
  width: 100% !important;
  table-layout: fixed;
  word-wrap: break-word;
}


@media(max-width: 768px) {
  .navbar h4 {
    font-size: 20px;
    margin-top: 14px;
  }

  .navbar-signup-md {
    display: none;
  }

  .navbar-signup-xs {
    display: block !important;
  }
}
