.profile .col-sm-6 {
  padding-left: 50px;
  padding-right: 50px;
  text-align: center;
}

.profile-contact {
  background-color: #7BB0A8; /* EAHub banner green */
  border-radius: 5px;
  color: white;
  float: right;
  font-size: 20px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  width: 100px;
}

.profile-contact:hover {
  opacity: 0.5;
}

.profile-head {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 40px auto 40px auto;
  text-align: center
}

.profile-info {
  margin-bottom: 20px;
  padding-left: 50px;
  padding-right: 50px;
}

.profile-info p {
  background-color: #f7f6f6; /* very light grey */
  padding: 20px 20px 20px 20px
}

.profile-info table {
  background-color: #f7f6f6; /* very light grey */
}

.profile-key-facts {
  border-radius: 5px;
  color: white;
  margin-top: 0px;
  padding: 10px 10px 10px 10px;
}

.profile-key-facts h3 {
  background-color: #512B52; /* EAHub purple */
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 10px 10px 10px 10px;
  text-align: center;
}

.profile-key-facts ul {
  background-color: rgba(81, 43, 82, 0.7); /* Lighter EAHub purple */
  font-size: 16px;
  line-height: 25px;
  list-style: none;
  padding: 20px 20px 20px 20px;
  text-align: left;
}

.profile-key-facts a {
  color: #A7DBAB; /* EAHub green */
}

.group-key-facts-sublist ul {
  background-color: inherit;
  list-style-type: disc;
  padding-top: 0px;
}

.profile-map {
  padding: 10px 10px 10px 10px;
}

.profile-name {
  display: inline-block;
  font-size: 50px;
  margin-right: 20px;
  max-width: 500px;
  padding-left: 30px;
  padding-right: 30px;
  text-align: center;
}

.profile-pic {
  border-radius: 3px;
  display: inline-block;
  margin-right: 10px;
  max-width: 200px;
  max-height: 150px;
}

@media(max-width: 768px) {

  .profile .col-sm-6 {
    padding-left: 0px;
    padding-right: 0px;
  }

  .profile-name {
    font-size: 26px;
    margin-right: 0px;
  }

  .profile-contact {
    font-size: 14px;
    height: 25px;
    line-height: 25px;
    margin-top: 20px;
  }
}
