.profile_contact {
  background-color: #512B52;
  border-radius: 5px;
  color: white;
  font-size: 20px;
  height: 50px;
  line-height: 50px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  width: 100px;
}

.profile_name {
  font-size: 50px;
  text-align: center;
}

.profile_pic {
  border-radius: 3px;
  max-width: 90%;
  max-height: 150px;
}

.profile_pic_container {
  text-align: center;
  float: left;
  max-width: 200px;
}

.profile_heading {
  display: inline-block;
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
}

@media(max-width: 768px) {
  .profile_pic_container {
    width: 33%
  }

  .profile_name {
    font-size: 26px;
  }

  .profile_contact {
    height: 25px;
    font-size: 14px;
    line-height: 25px;
  }
}
