{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>EA Hub {{ page_name }}</title>

    <!-- styles -->
    <link href="https://getbootstrap.com/docs/3.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://getbootstrap.com/docs/3.3/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
    <link href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css" rel="stylesheet">
    <style>
      #logo{
        height: 30px;
        margin-top: -3px;
      }
      .container {
        max-width: 1000px;
      }
    </style>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    {% block header %}{% endblock %}

  </head>

  <body>

    <div class="container">
      <div class="header clearfix">
        <nav>
          <ul class="nav nav-pills pull-right">
            {% if user.is_authenticated %}
              <li><a href="{% url 'my_profile' %}"><i class="fa fa-user"></i> My Profile</a></li>
              <li><a href="{% url 'logout' %}"><i class="fa fa-sign-out"></i> Log Out</a></li>
            {% else %}
              <li><a href="{% url 'login' %}"><i class="fa fa-sign-in"></i> Log In</a></li>
              <li><a href="{% url 'signup' %}"><i class="fa fa-user-plus"></i> Sign Up</a></li>
            {% endif %}
            {% if request.user.is_superuser %}
            <li><a href="/admin"><i class="fa fa-pencil"></i> Staff Portal</a></li>
            {% endif %}
          </ul>
        </nav>
        <h3 class="text-muted"><a href="\"><img id="logo" src="{% static "eahub/logo.png" %}" /></a>{% if page_name %} / {{ page_name }}{% endif %}</h3>
      </div>

      {% block content %}
      {% endblock %}

    </div>

    <!-- scripts -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://getbootstrap.com/docs/3.3/dist/js/bootstrap.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <script src="/static/js/main.js"></script>
    {% block scripts %}{% endblock %}

  </body>
</html>
