on:
    push:
        branches:
            - master
    pull_request:
        branches:
            - master
    workflow_dispatch:
jobs:
    pytest:
        name: run code styles checks & tests
        runs-on: ubuntu-latest
        steps:
            - name: git clone the current branch
              uses: actions/checkout@v2
            - name: run pytest
              shell: bash
              run: docker-compose run --use-aliases web pytest
